Repository dbvis-ukon/coronavis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

Path conditions:
  dockerize-crawler: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  dockerize-tiles: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-crawler-staging: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-crawler-production-new: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-tiles-staging-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-tiles-production-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml

[] add missing outdated warning
  Frontend/gis/src/app/cases-dod/case-table/case-table.component.html
  Frontend/gis/src/app/cases-dod/case-table/case-table.component.less
  Frontend/gis/src/app/cases-dod/case-table/case-table.component.ts
  Frontend/gis/src/i18n/messages.de.xlf
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

[] change warning
  Frontend/gis/src/app/cases-dod/case-table/case-table.component.html
  Frontend/gis/src/i18n/messages.de.xlf
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

[renovate-bot] Update dependency Flask-SQLAlchemy to v2.5.0
  Backend/requirements.txt
Due: none

[renovate-bot] Lock file maintenance
  Frontend/gis/package-lock.json
Due: none

[renovate-bot] Update dependency Flask-SQLAlchemy to v2.5.1
  Backend/requirements.txt
Due: none

[#388] fixes after merge
  Frontend/gis/package-lock.json
  Frontend/gis/src/app/overview/comparison/comparison-view/comparison-view.component.ts
  Frontend/gis/src/app/overview/comparison/pixel-chart/pixel-chart.component.ts
  Frontend/gis/src/app/services/cases-region-aggregator.service.ts
Due: none

[#388] update @angular/cli
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[#388] update @angular/core
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[#388] update material and cdk
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[#388] switch to yarn
  .gitlab-ci.yml
  Frontend/gis/package-lock.json
  Frontend/gis/yarn.lock
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[#388] fix missing cache file
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[#388] fix backend
  Backend/models/caseDevelopments.py
  Backend/views/cases.py
Due: none

[#388] wip
  Backend/models/caseDevelopments.py
  Frontend/gis/src/app/overview/comparison/comparison-view/comparison-view.component.ts
  Frontend/gis/src/app/overview/comparison/pixel-chart/pixel-chart.component.ts
  Frontend/gis/src/app/services/vega-pixelchart.service.ts
Due: none

[] fix css in case-info
  Frontend/gis/src/app/cases-dod/case-info/case-info.component.less
  Frontend/gis/src/app/cases-dod/case-line-chart/case-line-chart.component.html
  Frontend/gis/src/app/cases-dod/case-line-chart/case-line-chart.component.less
  Frontend/gis/src/app/cases-dod/case-line-chart/case-line-chart.component.ts
Due: none

[#388] do not cache deps
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[renovate-bot] Update dependency SQLAlchemy to v1.4.2
  Backend/requirements.txt
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update eslint packages to v4.19.0
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[#396] migration for table
  Backend/migrations/alembic/versions/a3a5ae77b6b9_add_columns_to_divi_meldungen.py
Due: none

[#396] adjust public divi crawler to new api
  Crawler/crawl_divi_public.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[#396] adjust private divi crawler to new api
  Crawler/crawl_divi_private.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[] doc fixes
  README.md
  SECURITY.md
Due: none

[renovate-bot] Update dependency alembic to v1.5.8
  Backend/requirements.txt
Due: none

[renovate-bot] Update dependency karma to ~6.3.0
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update dependency cryptography to v3.4.7
  Backend/requirements.txt
Due: none

[renovate-bot] Update dependency SQLAlchemy to v1.4.3
  Backend/requirements.txt
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new
