Repository dbvis-ukon/coronavis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

Path conditions:
  dockerize-crawler: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  dockerize-tiles: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-crawler-staging: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-crawler-production-new: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-tiles-staging-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-tiles-production-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml

[renovate-bot] Update dependency rxjs to v7
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency eslint-plugin-jsdoc to v35
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Lock file maintenance
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency ts-node to v10
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[] adjust data sources
  Frontend/gis/src/app/shared/data-source/data-source.component.html
  Frontend/gis/src/i18n/messages.de.xlf
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

[] crawler (fix): fix table ref
  Crawler/crawl_rki_incidences.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update getsentry/sentry-cli Docker tag to v1.65.0
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[] frontend (fix): default to empty region selection
  Frontend/gis/src/app/overview/dashboard/dashboards-overview/dashboards-overview.component.ts
Due: none

[#410] updated angular.json
  Frontend/gis/angular.json
Due: none

[#410] frontend (feature): custom age groups
  Frontend/gis/src/app/cases-dod/covid-chart-options.ts
  Frontend/gis/src/app/overview/dashboard/settings/settings.component.html
  Frontend/gis/src/app/overview/dashboard/settings/settings.component.less
  Frontend/gis/src/app/overview/dashboard/settings/settings.component.ts
  Frontend/gis/src/app/services/case-util.service.ts
  Frontend/gis/src/app/services/config.service.ts
  Frontend/gis/src/app/services/vega-pixelchart.service.ts
  Frontend/gis/src/i18n/messages.de.xlf
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

[renovate-bot] Update dependency alembic to v1.6.5
  Backend/requirements.txt
Due: none

[renovate-bot] Update dependency marshmallow-sqlalchemy to v0.26.0
  Backend/requirements.txt
Due: none

[renovate-bot] Update dependency urllib3 to v1.26.5
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency SQLAlchemy to v1.4.16
  Backend/requirements.txt
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency eslint-plugin-import to v2.23.4
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency SQLAlchemy to v1.4.17
  Backend/requirements.txt
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency eslint-plugin-jsdoc to v35.1.0
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency eslint-plugin-jsdoc to v35.1.1
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update eslint packages to v4.26.0
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency eslint-plugin-jsdoc to v35.1.2
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency marshmallow-sqlalchemy to v0.26.1
  Backend/requirements.txt
Due: none

[renovate-bot] Update dependency eslint-plugin-jsdoc to v35.1.3
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none
