Repository dbvis-ukon/coronavis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

Path conditions:
  dockerize-crawler: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  dockerize-tiles: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-crawler-staging: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-crawler-production-new: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-tiles-staging-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-tiles-production-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml

devops: fix sentry release job
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[] crawler (refactoring): set application name in db connection
  Crawler/crawl_divi_private.py
  Crawler/crawl_divi_public.py
  Crawler/crawl_risklayer_lk.py
  Crawler/crawl_rki_bed_capacity.py
  Crawler/crawl_rki_cases.py
  Crawler/crawl_rki_incidences.py
  Crawler/crawl_survstat_agegroups.py
  Crawler/db_config.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Lock file maintenance
  Frontend/gis/yarn.lock
Due: none

[] crawler (refactoring): properly connect and disconnect DB
  Crawler/crawl_risklayer_lk.py
  Crawler/crawl_rki_bed_capacity.py
  Crawler/crawl_rki_cases.py
  Crawler/crawl_survstat_agegroups.py
  Crawler/crawler_rki_dashboard.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[] crawler (fix): adjust row number for rk extrapolation
  Crawler/crawl_risklayer_lk.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[] crawler (fix): workaround for rk crawler
  Crawler/crawl_risklayer_lk.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[] crawler (regression): remove deprecated counties in data
  Crawler/crawl_risklayer_lk.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[] crawler (regression): add missing import
  Crawler/crawl_risklayer_lk.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update eslint packages
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency @types/jasmine to ~3.9.0
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency openpyxl to v3.0.8
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency @angular-builders/custom-webpack to v12.1.2
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update eslint packages to v4.31.1
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency pandas to v1.3.3
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

Resolve "filename of csv download not sanitized"
  Frontend/gis/src/app/services/export-csv.service.ts
Due: none

[renovate-bot] Update dependency alembic to v1.7.3
  Backend/requirements.txt
Due: none

[renovate-bot] Update dependency tzlocal to v3
  Backend/requirements.txt
Due: none

[renovate-bot] Update eslint packages to v4.31.2
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[] devops: switch from master to main
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[] devops: adjust rules for tileserver deployment
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[] devops: run build-tiles job on different runner
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[renovate-bot] Update dependency sentry-sdk to v1.4.0
  Backend/requirements.txt
Due: none
