Repository dbvis-ukon/coronavis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

Path conditions:
  dockerize-crawler: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  dockerize-tiles: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-crawler-staging: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-crawler-production-new: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-tiles-staging-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-tiles-production-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml

[] crawler (fix/refactoring): additionally check incidence rates and estimated population data
  Crawler/crawl_survstat_agegroups.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency openpyxl to v3.0.9
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency sentry-sdk to v1.4.1
  Backend/requirements.txt
Due: none

[renovate-bot] Update dependency sentry_sdk to v1.4.1
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency SQLAlchemy to v1.4.24
  Backend/requirements.txt
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[] crawler (fix/refactoring): check json schema
  Crawler/crawl_divi_private.py
  Crawler/crawl_divi_public.py
  Crawler/crawl_rki_bed_capacity.py
  Crawler/crawl_rki_cases.py
  Crawler/requirements.txt
  Crawler/rki_bed_capacity.schema.json
  Crawler/rki_cases.schema.json
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[] crawler (fix/regression): add missing schema files
  Crawler/divi_private.schema.json
  Crawler/divi_public.schema.json
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency urllib3 to v1.26.7
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Lock file maintenance
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency SQLAlchemy to v1.4.25
  Backend/requirements.txt
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[] crawler (fix): fix connection timeout
  Crawler/crawl_rki_cases.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update eslint packages to v4.32.0
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency sentry_sdk to v1.4.2
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency sentry-sdk to v1.4.2
  Backend/requirements.txt
Due: none

[renovate-bot] Update dependency holidays to v0.11.3
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update getsentry/sentry-cli Docker tag to v1.69.0
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[renovate-bot] Update dependency sentry_sdk to v1.4.3
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency cryptography to v35
  Backend/requirements.txt
Due: none

[renovate-bot] Update dependency holidays to v0.11.3.1
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency sentry-sdk to v1.4.3
  Backend/requirements.txt
Due: none

[renovate-bot] Update dependency jsonschema to v4
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency @angular-builders/custom-webpack to v12.1.3
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency jsonschema to v4.0.1
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[] crawler (fix): eisenach no longer in survstat data
  Crawler/crawl_survstat_agegroups.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update getsentry/sentry-cli Docker tag to v1.69.1
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[renovate-bot] Update dependency prometheus-flask-exporter to v0.18.3
  Backend/requirements.txt
Due: none
