Repository dbvis-ukon/coronavis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

Path conditions:
  dockerize-crawler: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  dockerize-tiles: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-crawler-staging: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-crawler-production-new: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-tiles-staging-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-tiles-production-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml

[] backend (fix): syntax fix
  Backend/server.py
Due: none

[] backend (fix): switch back to FIFO
  Backend/server.py
Due: none

[#418] reduce workers and threads for non-production builds
  Backend/gunicorn.conf.py
Due: none

[renovate-bot] Update getsentry/sentry-cli Docker tag to v1.70.0
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[renovate-bot] Update dependency SQLAlchemy to v1.4.26
  Backend/requirements.txt
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency jsonschema to v4.1.1
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency tzlocal to v4.0.1
  Backend/requirements.txt
Due: none

[#418] use lifo with rollback
  Backend/server.py
Due: none

[#418] increase default number of threads to 5
  Backend/gunicorn.conf.py
Due: none

[renovate-bot] Lock file maintenance
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency jsonschema to v4.1.2
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency numpy to v1.21.3
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency tzdata to v2021.4
  Backend/requirements.txt
Due: none

[renovate-bot] Update getsentry/sentry-cli Docker tag to v1.70.1
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[renovate-bot] Update dependency prometheus-flask-exporter to v0.18.4
  Backend/requirements.txt
Due: none

[renovate-bot] Update dependency ts-node to ~10.4.0
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency shapely to v1.8.0
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency tzdata to v2021.5
  Backend/requirements.txt
Due: none

[renovate-bot] Update dependency tzlocal to v4.0.2
  Backend/requirements.txt
Due: none

[renovate-bot] Update python Docker tag to v3.10
  .gitlab-ci.yml
  Backend/Dockerfile
  Crawler/Dockerfile
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[renovate-bot] Update dependency tzlocal to v4.1
  Backend/requirements.txt
Due: none

[renovate-bot] Update dependency prometheus-flask-exporter to v0.18.5
  Backend/requirements.txt
Due: none
