Repository dbvis-ukon/coronavis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

Path conditions:
  dockerize-crawler: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  dockerize-tiles: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-crawler-staging: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-crawler-production-new: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-tiles-staging-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-tiles-production-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml

[#335] cleanup
  Backend/views/hospitals.py
  Frontend/gis/src/app/repositories/qualitative-divi-development.respository.ts
Due: none

[#335] calculate last update correctly
  Frontend/gis/src/app/case-info/case-info.component.html
  Frontend/gis/src/app/case-info/case-info.component.ts
Due: none

[#336] fix selection bug
  Frontend/gis/src/app/legend/legend.component.ts
Due: none

[#336] fix hover/selection bug
  Frontend/gis/src/app/legend/legend.component.html
  Frontend/gis/src/app/legend/legend.component.less
  Frontend/gis/src/app/legend/legend.component.ts
  Frontend/gis/src/app/map/overlays/case-trend-canvas.layer.ts
  Frontend/gis/src/app/services/case-choropleth-colormap.service.ts
  Frontend/gis/src/app/services/case-util.service.ts
Due: none

[#336] change color and add to legend
  Frontend/gis/src/app/legend/legend.component.html
  Frontend/gis/src/app/legend/legend.component.ts
  Frontend/gis/src/app/services/case-choropleth-colormap.service.ts
  Frontend/gis/src/i18n/messages.de.xlf
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

[#336] remove timeslider playbutton as it's inoperable right now
  Frontend/gis/src/app/timeslider/timeslider.component.html
  Frontend/gis/src/environments/environment.ts
Due: none

[#336] fix bug to show highest bin limit too
  Frontend/gis/src/app/services/case-util.service.ts
Due: none

[#336] wip: fixing layer logic
  Frontend/gis/src/app/map/map.component.ts
Due: none

[#337] check for nullpointer
  Frontend/gis/src/app/case-info/case-info.component.ts
Due: none

[#337] adapt color for unavailable counties
  Frontend/gis/src/app/map/overlays/casechoropleth.ts
  Frontend/gis/src/app/services/case-choropleth-layer.service.ts
Due: none

[#339] adjust resources based on environment
  .gitlab-ci.yml
  k8/backend-new/templates/Deployment.yaml
  k8/backend-new/values.yaml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[#339] rewrite var.env in deploy jobs
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[#338] fixes #338
  Frontend/gis/src/app/hospital-info/hospital-info.component.html
Due: none

[#341] fixes #341
  Frontend/gis/src/app/infobox/infobox.component.ts
Due: none

[#342] fixes #342
  Frontend/gis/src/app/services/qualitative-colormap.service.ts
Due: none

[#340] fixes #340
  Frontend/gis/src/app/legend/legend.component.html
  Frontend/gis/src/app/legend/legend.component.less
Due: none

[#343] fixes #343
  Frontend/gis/src/app/map/overlays/abstract-glyph-canvas.layer.ts
Due: none

[#344] fixes #344
  Frontend/gis/src/app/services/country-aggregator.service.ts
Due: none

[#345] improve vega chart
  Frontend/gis/src/app/case-info/case-info.component.ts
  Frontend/gis/src/app/services/vega-linechart.service.ts
Due: none

[#346] fix calculation of incidence value in aggregation
  Backend/models/caseDevelopments.py
Due: none

add internal backoff
  Crawler/crawl_risklayer_lk.py
  k8/crawler-new/templates/cron-covid19vis-crawler-risklayer-lk.yaml
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

crawl and correction data for last 2/5 days
  Crawler/crawl_risklayer_lk.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

extend to 14 (1 + 13 days)
  Crawler/crawl_risklayer_lk.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[#348] fixes #348
  Frontend/gis/src/app/hospital-info/hospital-info.component.html
  Frontend/gis/src/app/hospital-info/hospital-info.component.ts
Due: none

[] cors headers for tile server
  Tiles/mysite.conf
Due: dockerize-tiles, deploy-tiles-staging-new, deploy-tiles-production-new

[#350] fixes #350
  Frontend/gis/src/app/hospital-info/hospital-info.component.ts
Due: none

[hotfix] explicitly set timezone to UTC
  Crawler/crawl_risklayer_lk.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[hotfix] use 21:59
  Crawler/crawl_risklayer_lk.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

Configure Renovate
  .gitlab-ci.yml
  Backend/server.py
  Backend/tests/__init__.py
  Backend/tests/base_case.py
  Backend/tests/test_prognosis.py
  renovate.json
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[renovate-bot] Update alpine/helm Docker tag to v3.3.4
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[renovate-bot] Update dependency Click to v7.1.2
  Backend/requirements.txt
Due: none

[renovate-bot] Update dependency Flask-Caching to v1.9.0
  Backend/requirements.txt
Due: none

[] use docker:dind and docker:latest tags for code quality
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[renovate-bot] Update dependency Flask-Compress to v1.7.0
  Backend/requirements.txt
Due: none

[renovate-bot] Update dependency Flask-SQLAlchemy to v2.4.4
  Backend/requirements.txt
Due: none

[#352] remove unused requirements and code cleanup
  Backend/cache.py
  Backend/models/caseDevelopments.py
  Backend/models/cases.py
  Backend/models/hospital.py
  Backend/models/icuDevelopments.py
  Backend/requirements.txt
  Backend/server.py
  Backend/tests/test_prognosis.py
  Backend/views/cases.py
  Backend/views/cases_risklayer.py
  Backend/views/extent.py
  Backend/views/hospitals.py
Due: none

[#352] add missing deps
  Backend/.gitignore
  Backend/requirements.txt
Due: none

[#352] add sentry-sdk
  Backend/requirements.txt
Due: none

[#352] add blinker and psycopg
  Backend/requirements.txt
Due: none

[renovate-bot] Update dependency GeoAlchemy2 to v0.8.4
  Backend/requirements.txt
Due: none
