Repository dbvis-ukon/coronavis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

Path conditions:
  dockerize-crawler: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  dockerize-tiles: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-crawler-staging: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-crawler-production-new: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-tiles-staging-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-tiles-production-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml

[renovate-bot] Update getsentry/sentry-cli Docker tag to v1.58.0
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[renovate-bot] Update dependency sentry-sdk to v0.19.1
  Backend/requirements.txt
Due: none

[renovate-bot] Update dependency sentry_sdk to v0.19.1
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency psycopg2-binary to v2.8.6
  Backend/requirements.txt
Due: none

[renovate-bot] Update dependency pandas to v1.1.3
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency SQLAlchemy to v1.3.20
  Backend/requirements.txt
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency Werkzeug to v0.16.1
  Backend/requirements.txt
Due: none

[renovate-bot] Update dependency jasmine-core to ~3.6.0
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Lock file maintenance
  Frontend/gis/package-lock.json
Due: none

[renovate-bot] Update dependency karma-jasmine to v4
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update dependency jasmine-spec-reporter to v6
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update dependency zone.js to ~0.11.0
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update dependency @types/node to v14
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update dependency Werkzeug to v1
  Backend/requirements.txt
Due: none

[renovate-bot] Update dependency urllib3 to v1.25.11
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency karma to ~5.2.0
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update dependency ts-node to ~8.10.0
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update dependency typescript to v4
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update dependency are-you-es5 to v2
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update dependency ts-node to v9
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update angular packages
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update dependency @angular-builders/custom-webpack to v10
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update dependency d3 to v6
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[#353] new lockdown colormap
  Frontend/gis/src/app/services/case-choropleth-colormap.service.ts
Due: none

[#353] linting
  Frontend/gis/src/app/services/case-choropleth-colormap.service.ts
Due: none

[#353] ng lint --fix
  Frontend/gis/src/app/services/case-choropleth-colormap.service.ts
Due: none

[#354] fixes #354
  Frontend/gis/src/app/case-info/case-info.component.ts
  Frontend/gis/src/app/services/case-util.service.ts
Due: none

[#354] fix linting
  Frontend/gis/src/app/case-info/case-info.component.ts
  Frontend/gis/src/app/services/case-util.service.ts
Due: none

[#355] fixes #355
  Frontend/gis/src/app/services/case-util.service.ts
Due: none

[renovate-bot] Update alpine/helm Docker tag to v3.4.0
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

divi private crawler
  Crawler/crawl_divi_private.py
  k8/crawler-new/templates/cron-covid19vis-crawler-divi_private.yaml
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[#357] api for subscription
  .env.example
  Backend/db.py
  Backend/loadenv.py
  Backend/models/caseDevelopments.py
  Backend/models/counties.py
  Backend/models/email_subs.py
  Backend/requirements.txt
  Backend/server.py
  Backend/services/crypt_service.py
  Backend/services/hash_service.py
  Backend/services/mail_service.py
  Backend/services/token_service.py
  Backend/templates/mail/county_notification.html
  Backend/templates/mail/county_notification.txt
  Backend/views/counties.py
  Backend/views/email_subs.py
Due: none

[renovate-bot] Update dependency pandas to v1.1.4
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[#357] wip email subscription
  Backend/services/mail_service.py
  Backend/templates/mail/email_verification.html
  Backend/templates/mail/email_verification.txt
  Backend/views/email_subs.py
  Frontend/gis/src/app/app-routing.module.ts
  Frontend/gis/src/app/app.module.ts
  Frontend/gis/src/app/gdpr/gdpr.component.html
  Frontend/gis/src/app/gdpr/gdpr.component.less
  Frontend/gis/src/app/gdpr/gdpr.component.ts
  Frontend/gis/src/app/impressum/impressum.component.html
  Frontend/gis/src/app/impressum/impressum.component.less
  Frontend/gis/src/app/infobox/infobox.component.ts
  Frontend/gis/src/app/map/map.component.ts
  Frontend/gis/src/app/overview/overview-routing.module.ts
  Frontend/gis/src/app/overview/overview.module.ts
  Frontend/gis/src/app/overview/subscription/subscription.component.html
  Frontend/gis/src/app/overview/subscription/subscription.component.less
  Frontend/gis/src/app/overview/subscription/subscription.component.ts
  Frontend/gis/src/app/repositories/county.repository.ts
  Frontend/gis/src/app/repositories/email-subscription.repository.ts
  Frontend/gis/src/app/repositories/types/in/county.ts
  Frontend/gis/src/app/repositories/types/in/email-subscription.ts
  Frontend/gis/src/app/services/translation.service.ts
  Frontend/gis/src/app/shared/hospital-search/hospital-search.component.html
  Frontend/gis/src/app/shared/hospital-search/hospital-search.component.less
  Frontend/gis/src/app/shared/hospital-search/hospital-search.component.ts
  Frontend/gis/src/app/shared/shared.module.ts
  Frontend/gis/src/environments/environment.ts
Due: none
