Repository dbvis-ukon/coronavis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

Path conditions:
  dockerize-crawler: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  dockerize-tiles: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-crawler-staging: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-crawler-production-new: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-tiles-staging-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-tiles-production-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml

[renovate-bot] Update dependency eslint-plugin-jsdoc to v37.6.2
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Lock file maintenance
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency lint-staged to v12.2.2
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency eslint-plugin-jsdoc to v37.6.3
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency SQLAlchemy to v1.4.31
  Backend/requirements.txt
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update getsentry/sentry-cli Docker tag to v1.72.0
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[renovate-bot] Update dependency sentry_sdk to v1.5.3
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[] crawler (refactoring): automatically retry refreshing views
  Crawler/crawl_divi_public.py
  Crawler/crawl_risklayer_lk.py
  Crawler/crawl_rki_bed_capacity.py
  Crawler/crawl_rki_cases.py
  Crawler/crawl_rki_incidences.py
  Crawler/crawl_survstat_agegroups.py
  Crawler/db_config.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[] crawler (fix): remove broken import
  Crawler/db_config.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency pandas to v1.4.0
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[] crawler (fix/regression): discontinue loop after successful query
  Crawler/db_config.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency lint-staged to v12.3.1
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update eslint packages to v5.10.1
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[] docs: add some badges :)
  README.md
Due: none

[renovate-bot] Update dependency eslint-plugin-jsdoc to v37.7.0
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update getsentry/sentry-cli Docker tag to v1.72.1
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[renovate-bot] Update dependency sentry_sdk to v1.5.4
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency lint-staged to v12.3.2
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[] crawler (fix): increase limit
  Crawler/crawl_rki_cases.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[] crawler (fix): increase timeouts
  k8/crawler-new/templates/cron-crawler-bed-capacity-lk.yaml
  k8/crawler-new/templates/cron-crawler-divi_private.yaml
  k8/crawler-new/templates/cron-crawler-divi_public.yaml
  k8/crawler-new/templates/cron-crawler-patient-cases.yaml
  k8/crawler-new/templates/cron-crawler-risklayer-lk.yaml
  k8/crawler-new/templates/cron-crawler-rki-lk-bl-cases.yaml
  k8/crawler-new/templates/cron-crawler-rki_incidences.yaml
  k8/crawler-new/templates/cron-crawler-survstat-agegroups.yaml
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update angular packages
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[] backend (chores): update sentry-sdk to 1.5.4
  Backend/requirements.txt
Due: none

[renovate-bot] Update eslint packages to v5.10.2
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none
