Repository dbvis-ukon/coronavis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

Path conditions:
  dockerize-crawler: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  dockerize-tiles: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-crawler-staging: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-crawler-production-new: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-tiles-staging-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-tiles-production-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml

[renovate-bot] Lock file maintenance
  Frontend/gis/package-lock.json
Due: none

[#372] use old sheet, fixes #372
  Crawler/crawl_risklayer_lk.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

Adapt to cell G17 moving to G16 (iloc 16,6)
  Crawler/crawl_risklayer_lk.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

drop history correction from rk crawler as RK does not support it anymore
  Crawler/crawl_risklayer_lk.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[#147] extend .env.example
  .env.example
Due: none

[regression] always use last_updated in hospital-info
  Frontend/gis/src/app/hospital-info/hospital-info.component.ts
Due: none

[hotfix] fix hospitals materialized view
  Backend/migrations/alembic/versions/d5d392162842_fix_filled_hospital_timeseries_with_fix_.py
Due: none

[renovate-bot] Update getsentry/sentry-cli Docker tag to v1.60.0
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[renovate-bot] Update getsentry/sentry-cli Docker tag to v1.60.1
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[#353] new lockdown colormap
  Frontend/gis/src/app/services/case-choropleth-colormap.service.ts
Due: none

[#353] ng lint --fix
  Frontend/gis/src/app/services/case-choropleth-colormap.service.ts
Due: none

[#353] linting
  Frontend/gis/src/app/services/case-choropleth-colormap.service.ts
Due: none

[#353] add purple colors
  Frontend/gis/src/app/services/case-choropleth-colormap.service.ts
Due: none

[#353] alternate colormap
  Frontend/gis/src/app/services/case-choropleth-colormap.service.ts
Due: none

[#353] color tweaking
  Frontend/gis/src/app/services/case-choropleth-colormap.service.ts
Due: none

integrate RK updates
  Crawler/crawl_risklayer_lk.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency pandas to v1.1.5
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

rebasing master
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

migration
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
  Frontend/gis/src/app/app-routing.module.ts
Due: none

first try to migrate i18n
  Frontend/gis/.babelrc
  Frontend/gis/angular.json
  Frontend/gis/package.json
  Frontend/gis/src/i18n/messages.de.xlf
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

adjusting to angular 11 i18n
  .gitlab-ci.yml
  Frontend/gis/angular.json
  Frontend/gis/package.json
  Frontend/gis/src/app/hospital-info/hospital-info.component.html
  Frontend/gis/src/app/infobox/infobox.component.html
  Frontend/gis/src/app/overview/overview-bed/overview-bed.component.html
  Frontend/gis/src/i18n/messages.de.xlf
  Frontend/gis/src/i18n/messages.en.xlf
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

also create sourceMap and cleanup scripts
  Frontend/gis/package.json
Due: none

postinstall no longer needed
  Frontend/gis/package.json
Due: none
