Repository dbvis-ukon/coronavis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

dockerize-crawler:
  stage: build:docker
  image: docker:latest
  services:
  - docker:dind
  script:
  - source var.env
  - echo "$CI_REGISTRY_PASSWORD" | docker login --username "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - cd ${FOLDER}
  - IMGNAME=$(echo "${FOLDER}" | tr '[:upper:]' '[:lower:]')
  ...

dockerize-tiles:
  stage: build:docker
  image: docker:latest
  services:
  - docker:dind
  script:
  - source var.env
  - echo "$CI_REGISTRY_PASSWORD" | docker login --username "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - cd ${FOLDER}
  - IMGNAME=$(echo "${FOLDER}" | tr '[:upper:]' '[:lower:]')
  ...

deploy-crawler-staging:
  stage: deploy
  image:
    name: alpine/helm:3.1.2
    entrypoint:
    - sh
    - -c
    - apk add bash sed && /bin/bash
  script:
  - echo $KUBECONFIG
  - source var.env
  - cat var.env
  - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
  - echo $URL_ACCESSOR
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  ...

deploy-crawler-production-new:
  stage: deploy
  image:
    name: alpine/helm:3.1.2
    entrypoint:
    - sh
    - -c
    - apk add bash sed && /bin/bash
  script:
  - echo $KUBECONFIG
  - source var.env
  - cat var.env
  - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
  - echo $URL_ACCESSOR
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  ...

deploy-tiles-staging-new:
  stage: deploy
  image:
    name: alpine/helm:3.1.2
    entrypoint:
    - sh
    - -c
    - apk add bash sed && /bin/bash
  script:
  - echo $KUBECONFIG
  - source var.env
  - cat var.env
  - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
  - echo $URL_ACCESSOR
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  ...

deploy-tiles-production-new:
  stage: deploy
  image:
    name: alpine/helm:3.1.2
    entrypoint:
    - sh
    - -c
    - apk add bash sed && /bin/bash
  script:
  - echo $KUBECONFIG
  - source var.env
  - cat var.env
  - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
  - echo $URL_ACCESSOR
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  ...

[#307] fixes #307
  Crawler/crawl_rki_cases.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[#308] move search to top
  Frontend/gis/src/app/hospital-search/hospital-search.component.html
  Frontend/gis/src/app/hospital-search/hospital-search.component.ts
  Frontend/gis/src/app/infobox/infobox.component.html
  Frontend/gis/src/app/infobox/infobox.component.less
  Frontend/gis/src/app/infobox/infobox.component.ts
Due: none

[#308] parse everything as utc
  Frontend/gis/src/app/hospital-info/hospital-info.component.ts
  Frontend/gis/src/app/infobox/infobox.component.ts
  Frontend/gis/src/app/repositories/qualitative-divi-development.respository.ts
  Frontend/gis/src/app/repositories/types/in/qualitative-hospitals-development.ts
  Frontend/gis/src/app/services/bed-choropleth-layer.service.ts
  Frontend/gis/src/app/services/case-util.service.ts
  Frontend/gis/src/app/services/country-aggregator.service.ts
  Frontend/gis/src/app/services/hospital-util.service.ts
  Frontend/gis/src/app/services/qualitative-colormap.service.ts
  Frontend/gis/src/app/timeslider/timeslider.component.ts
  Frontend/gis/src/app/util/date-util.ts
Due: none

[#309] fixes #309
  Frontend/gis/src/app/timeslider/timeslider.component.ts
  Frontend/gis/src/app/util/date-util.ts
Due: none

[#310] fix #310
  Frontend/gis/src/app/util/date-util.ts
Due: none

[#311] fixes #311
  Frontend/gis/src/app/hospital-info/hospital-info.component.ts
Due: none

[#316] commit change of refresh materialized view
  Crawler/crawl_rki_cases.py
  Crawler/db_config.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[#316] run RKI data fetch every hour
  k8/crawler-new/templates/cron-covid19vis-crawler-patient-cases.yaml
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[#317] fixes #317
  Frontend/gis/src/app/services/case-util.service.ts
Due: none

[#319] closes #319
  Frontend/gis/src/app/case-info/case-info.component.html
Due: none

[#260] fixes after merge
  Frontend/gis/src/app/overview/overview-bed/overview-bed.component.ts
  Frontend/gis/src/app/overview/overview-case/overview-case.component.ts
Due: none

[#260] css adjustments
  Frontend/gis/src/app/map-root/map-root.component.less
  Frontend/gis/src/app/map-root/map-root.component.ts
  Frontend/gis/src/app/overview/overview-routing.module.ts
  Frontend/gis/src/app/overview/overview.component.html
Due: none

[#260] overview map mode
  Frontend/gis/src/app/app.module.ts
  Frontend/gis/src/app/button-panel/button-panel.component.ts
  Frontend/gis/src/app/help/help-dialog-beds/help-dialog-beds.component.html
  Frontend/gis/src/app/help/help-dialog-beds/help-dialog-beds.component.less
  Frontend/gis/src/app/help/help-dialog-beds/help-dialog-beds.component.ts
  Frontend/gis/src/app/help/help-dialog-cases/help-dialog-cases.component.html
  Frontend/gis/src/app/help/help-dialog-cases/help-dialog-cases.component.less
  Frontend/gis/src/app/help/help-dialog-cases/help-dialog-cases.component.ts
  Frontend/gis/src/app/help/help-dialog-theproject/help-dialog-theproject.component.html
  Frontend/gis/src/app/help/help-dialog-theproject/help-dialog-theproject.component.less
  Frontend/gis/src/app/help/help-dialog-theproject/help-dialog-theproject.component.ts
  Frontend/gis/src/app/help/help-dialog/help-dialog.component.html
  Frontend/gis/src/app/help/help-dialog/help-dialog.component.less
  Frontend/gis/src/app/help/help-dialog/help-dialog.component.ts
  Frontend/gis/src/app/help/help.module.ts
  Frontend/gis/src/app/map-root/map-root.component.ts
  Frontend/gis/src/app/overview/overview-introduction/overview-introduction.component.html
  Frontend/gis/src/app/overview/overview-routing.module.ts
  Frontend/gis/src/app/overview/overview.component.html
  Frontend/gis/src/app/overview/overview.module.ts
  Frontend/gis/src/app/services/config.service.ts
  Frontend/gis/src/app/timeslider/timeslider.component.html
  Frontend/gis/src/app/timeslider/timeslider.component.less
Due: none

[#318] should fix #318
  .gitlab-ci.yml
  Crawler/crawl_rki_cases.py
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

update max fischer profile picture
  Frontend/gis/src/assets/fischer.jpg
Due: none

[quickfix] node affinity no longer required
  k8/backend-new/templates/Deployment.yaml
Due: none

[#260] upgrade to angular 10
  Frontend/gis/.browserslistrc
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
  Frontend/gis/tsconfig.app.json
  Frontend/gis/tsconfig.base.json
  Frontend/gis/tsconfig.json
  Frontend/gis/tsconfig.spec.json
Due: none

[#260] upgrade angular material
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[#260] update rxjs
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[#260] update various other deps
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[#260] fixes after update
  Frontend/gis/src/app/help/help.module.ts
  Frontend/gis/tsconfig.base.json
Due: none

[#260] don't use the wildcard certificate
  k8/backend-new/templates/Ingress.yaml
  k8/frontend-new/templates/Ingress.yaml
Due: none

[#260] auto-issue LE cert
  k8/backend-new/templates/_helpers.tpl
  k8/frontend-new/templates/_helpers.tpl
Due: none

[#260] fixes and translation
  Frontend/gis/src/app/app-routing.module.ts
  Frontend/gis/src/app/overview/d3-choropleth-map/d3-choropleth-map.component.ts
  Frontend/gis/src/app/overview/overview.component.html
  Frontend/gis/src/app/shared/resize.directive.ts
  Frontend/gis/src/i18n/messages.de.xlf
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

[#260] sidenav
  Frontend/gis/src/app/overview/overview.component.html
  Frontend/gis/src/app/overview/overview.component.less
  Frontend/gis/src/app/overview/overview.component.ts
  Frontend/gis/src/app/overview/overview.module.ts
Due: none

[#260] fix restore snackbar bug
  Frontend/gis/src/app/map-root/map-root.component.ts
Due: none

[#260] fix css in timeslider
  Frontend/gis/src/app/timeslider/timeslider.component.html
  Frontend/gis/src/app/timeslider/timeslider.component.less
  Frontend/gis/src/app/timeslider/timeslider.component.ts
Due: none

[#260] do not deploy crawlers in staging env anymore
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[#321] return last available timeslice if data is not available
  Frontend/gis/src/app/services/case-util.service.ts
Due: none

[#312] update @angular/core to 10.0.7
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[#321] update rxjs to 6.6.2
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[#321] bump deps to latest version
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[#321] npm audit fix
  Frontend/gis/package-lock.json
Due: none

[#321] load latest possible data and show warning
  Frontend/gis/src/app/infobox/infobox.component.html
  Frontend/gis/src/app/infobox/infobox.component.less
  Frontend/gis/src/app/infobox/infobox.component.ts
  Frontend/gis/src/app/services/country-aggregator.service.ts
Due: none

[#322] changing labels from afflicted to tested positive
  Frontend/gis/src/app/case-info/case-info.component.html
  Frontend/gis/src/app/help/help-dialog-cases/help-dialog-cases.component.html
  Frontend/gis/src/app/infobox/infobox.component.html
  Frontend/gis/src/app/legend/legend.component.ts
  Frontend/gis/src/app/overview/overview-case/overview-case.component.ts
  Frontend/gis/src/i18n/messages.de.xlf
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

Resolve "Add crawler for RKI bed capacity data per LK"
  Crawler/crawl_rki_bed_capacity.py
  Crawler/crawl_rki_bed_capacity_oldimport_once.py
  k8/crawler-new/templates/cron-covid19vis-crawler-bed-capacity-lk.yaml
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[hotfix] disable sanity check to cope with RKI's changed API
  Crawler/crawl_rki_cases.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[#326] use gunicorn
  Backend/Dockerfile
  Backend/gunicorn.conf.py
  Backend/requirements.txt
Due: none

[#326] speedup query
  Backend/views/hospitals.py
Due: none

[hotfix] enable sanity check again
  Crawler/crawl_rki_cases.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

Path conditions:
  dockerize-crawler: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  dockerize-tiles: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-crawler-staging: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-crawler-production-new: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-tiles-staging-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-tiles-production-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
