Repository dbvis-ukon/coronavis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

Path conditions:
  dockerize-crawler: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  dockerize-tiles: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-crawler-staging: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-crawler-production-new: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-tiles-staging-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-tiles-production-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml

[renovate-bot] Lock file maintenance
  Frontend/gis/package-lock.json
Due: none

[#357] wip email subscription
  Backend/services/mail_service.py
  Backend/templates/mail/email_verification.html
  Backend/templates/mail/email_verification.txt
  Backend/views/email_subs.py
  Frontend/gis/src/app/app-routing.module.ts
  Frontend/gis/src/app/app.module.ts
  Frontend/gis/src/app/gdpr/gdpr.component.html
  Frontend/gis/src/app/gdpr/gdpr.component.less
  Frontend/gis/src/app/gdpr/gdpr.component.ts
  Frontend/gis/src/app/impressum/impressum.component.html
  Frontend/gis/src/app/impressum/impressum.component.less
  Frontend/gis/src/app/infobox/infobox.component.ts
  Frontend/gis/src/app/map/map.component.ts
  Frontend/gis/src/app/overview/overview-routing.module.ts
  Frontend/gis/src/app/overview/overview.module.ts
  Frontend/gis/src/app/overview/subscription/subscription.component.html
  Frontend/gis/src/app/overview/subscription/subscription.component.less
  Frontend/gis/src/app/overview/subscription/subscription.component.ts
  Frontend/gis/src/app/repositories/county.repository.ts
  Frontend/gis/src/app/repositories/email-subscription.repository.ts
  Frontend/gis/src/app/repositories/types/in/county.ts
  Frontend/gis/src/app/repositories/types/in/email-subscription.ts
  Frontend/gis/src/app/services/translation.service.ts
  Frontend/gis/src/app/shared/hospital-search/hospital-search.component.html
  Frontend/gis/src/app/shared/hospital-search/hospital-search.component.less
  Frontend/gis/src/app/shared/hospital-search/hospital-search.component.ts
  Frontend/gis/src/app/shared/shared.module.ts
  Frontend/gis/src/environments/environment.ts
Due: none

[#357] api for subscription
  .env.example
  Backend/db.py
  Backend/loadenv.py
  Backend/models/caseDevelopments.py
  Backend/models/counties.py
  Backend/models/email_subs.py
  Backend/requirements.txt
  Backend/server.py
  Backend/services/crypt_service.py
  Backend/services/hash_service.py
  Backend/services/mail_service.py
  Backend/services/token_service.py
  Backend/templates/mail/county_notification.html
  Backend/templates/mail/county_notification.txt
  Backend/views/counties.py
  Backend/views/email_subs.py
Due: none

[#357] lint fix
  Frontend/gis/src/app/repositories/types/in/email-subscription.ts
Due: none

[#357] remove unnecessary dependency
  Backend/requirements.txt
Due: none

[#357] "fixing" dependency mess
  Backend/models/email_subs.py
  Backend/server.py
  Backend/services/mail_service.py
Due: none

[#357] actual links in email
  Backend/templates/mail/email_verification.html
Due: none

[#357] provide env variables
  k8/backend-new/templates/Deployment.yaml
  k8/crawler-new/templates/cron-covid19vis-crawler-risklayer-lk.yaml
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[#357] ignore venv
  Crawler/.gitignore
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[#357] various fixes
  Backend/views/email_subs.py
  Frontend/gis/src/app/overview/overview.component.html
  Frontend/gis/src/app/overview/subscription/subscription.component.html
  Frontend/gis/src/app/overview/subscription/subscription.component.less
  Frontend/gis/src/app/overview/subscription/subscription.component.ts
  Frontend/gis/src/app/shared/hospital-search/hospital-search.component.html
  Frontend/gis/src/app/shared/hospital-search/hospital-search.component.ts
Due: none

[#357] no more email leaking
  Backend/server.py
  Backend/views/email_subs.py
  Frontend/gis/src/app/overview/subscription/subscription.component.html
  Frontend/gis/src/app/overview/subscription/subscription.component.less
Due: none

[#357] translation
  Frontend/gis/src/i18n/messages.de.xlf
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

[#357] remaining translations
  Frontend/gis/src/app/overview/subscription/subscription.component.html
  Frontend/gis/src/app/overview/subscription/subscription.component.less
  Frontend/gis/src/app/overview/subscription/subscription.component.ts
  Frontend/gis/src/i18n/messages.de.xlf
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

[#357] fix translation
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

[#357] crawler sends notifications
  Crawler/crawl_risklayer_lk.py
  Crawler/loadenv.py
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[#357] missing translation
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

divi private crawler
  Crawler/crawl_divi_private.py
  k8/crawler-new/templates/cron-covid19vis-crawler-divi_private.yaml
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[#356] prepare release
  Crawler/crawl_divi_private.py
  k8/crawler-new/templates/cron-covid19vis-crawler-divi_private.yaml
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[hotfix] fixing translations and typo
  Backend/templates/mail/email_verification.html
  Backend/templates/mail/email_verification.txt
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

[hotfix] fix regex in CI
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[hotfix] crawler fix
  Crawler/crawl_risklayer_lk.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[regression] enable notification push again
  Crawler/crawl_risklayer_lk.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[] Wrap all change rule globs in quotes
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[renovate-bot] Update python Docker tag to v3.9
  .gitlab-ci.yml
  Backend/Dockerfile
  Crawler/Dockerfile
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[] always build crawler images
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[renovate-bot] Update dependency numpy to v1.19.3
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[hotfix] fix query to determine updated counties
  Backend/templates/mail/county_notification.html
  Backend/views/email_subs.py
Due: none

[hotfix] fix link to unsubscribe
  Backend/templates/mail/county_notification.html
  Backend/templates/mail/county_notification.txt
Due: none

[#359] closes #359
  Frontend/gis/src/app/legend/legend.component.html
  Frontend/gis/src/app/shared/bed-inline-legend/bed-inline-legend.component.html
  Frontend/gis/src/app/shared/bed-inline-legend/bed-inline-legend.component.less
  Frontend/gis/src/i18n/messages.de.xlf
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

[#360] regression fix
  Frontend/gis/src/app/shared/bed-inline-legend/bed-inline-legend.component.html
  Frontend/gis/src/app/shared/bed-inline-legend/bed-inline-legend.component.less
Due: none

[hotfix] crawler: properly update table
  Crawler/crawl_risklayer_lk.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[hotfix] backend: fix division by zero
  Backend/views/email_subs.py
  Crawler/.gitignore
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[hotfix] backend: use timezone utc everywhere
  Backend/models/email_subs.py
  Backend/views/email_subs.py
Due: none

[renovate-bot] Update dependency numpy to v1.19.4
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency sentry_sdk to v0.19.2
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new
