Repository dbvis-ukon/coronavis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

Path conditions:
  dockerize-crawler: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  dockerize-tiles: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-crawler-staging: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-crawler-production-new: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-tiles-staging-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-tiles-production-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml

Resolve "update leaflet dependency"
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Lock file maintenance
  Frontend/gis/package-lock.json
Due: none

[renovate-bot] Update dependency vega-lite to v5
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update getsentry/sentry-cli Docker tag to v1.63.0
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[renovate-bot] Update dependency @angular-builders/custom-webpack to v11.1.0
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[debug] Add traceback and error output for parsing exception
  Crawler/crawl_risklayer_lk.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update eslint packages to v4.16.0
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update eslint packages to v4.16.1
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[] decrease minZoom
  Frontend/gis/src/app/map/map.component.ts
Due: none

[] update vega-lite specs to v5
  Frontend/gis/src/app/hospital-info/hospital-info.component.ts
  Frontend/gis/src/app/services/vega-barchart.service.ts
  Frontend/gis/src/app/services/vega-linechart.service.ts
  Frontend/gis/src/app/services/vega-pixelchart.service.ts
Due: none

[renovate-bot] Update dependency pandas to v1.2.3
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update getsentry/sentry-cli Docker tag to v1.63.1
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[renovate-bot] Update dependency sentry_sdk to v1
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency sentry-sdk to v1
  Backend/requirements.txt
Due: none

[renovate-bot] Update dependency Flask-Caching to v1.10.0
  Backend/requirements.txt
Due: none

[renovate-bot] Update dependency alembic to v1.5.6
  Backend/requirements.txt
Due: none

[renovate-bot] Update eslint packages to v4.17.0
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update dependency @angular-builders/custom-webpack to v11.1.1
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update dependency openpyxl to v3.0.7
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new
