Repository dbvis-ukon/coronavis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

Path conditions:
  dockerize-crawler: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  dockerize-tiles: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-crawler-staging: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-crawler-production-new: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-tiles-staging-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-tiles-production-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml

[renovate-bot] Update dependency @typescript-eslint/eslint-plugin to v4.11.1
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Lock file maintenance
  Frontend/gis/package-lock.json
Due: none

[devops] update renovate.json
  renovate.json
Due: none

[renovate-bot] Update dependency @typescript-eslint/parser to v4.11.1
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update dependency @angular-builders/custom-webpack to v11
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

adjust angular.json
  Frontend/gis/angular.json
Due: none

[renovate-bot] Update dependency geopy to v2.1.0
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update angular packages to v1
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update dependency eslint-plugin-jsdoc to v30.7.11
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update dependency eslint-plugin-jsdoc to v30.7.13
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[#385] refactor cases-dod module
  Frontend/gis/src/app/cases-dod/case-agegroup-chart/case-agegroup-chart.component.html
  Frontend/gis/src/app/cases-dod/case-agegroup-chart/case-agegroup-chart.component.less
  Frontend/gis/src/app/cases-dod/case-agegroup-chart/case-agegroup-chart.component.ts
  Frontend/gis/src/app/cases-dod/case-info/case-info.component.html
  Frontend/gis/src/app/cases-dod/case-info/case-info.component.less
  Frontend/gis/src/app/cases-dod/case-info/case-info.component.ts
  Frontend/gis/src/app/cases-dod/case-line-chart/case-line-chart.component.html
  Frontend/gis/src/app/cases-dod/case-line-chart/case-line-chart.component.less
  Frontend/gis/src/app/cases-dod/case-line-chart/case-line-chart.component.ts
  Frontend/gis/src/app/cases-dod/case-table/case-table.component.html
  Frontend/gis/src/app/cases-dod/case-table/case-table.component.less
  Frontend/gis/src/app/cases-dod/case-table/case-table.component.ts
  Frontend/gis/src/app/cases-dod/cases-dod.module.ts
  Frontend/gis/src/app/cases-dod/covid-chart-options.ts
  Frontend/gis/src/app/legend/legend.component.html
  Frontend/gis/src/app/legend/legend.component.less
  Frontend/gis/src/app/map/overlays/case-trend-canvas.layer.ts
  Frontend/gis/src/app/services/case-util.service.ts
  Frontend/gis/src/app/services/vega-linechart.service.ts
  Frontend/gis/src/app/shared/data-source/data-source.component.html
  Frontend/gis/src/app/shared/data-source/data-source.component.less
  Frontend/gis/src/app/shared/data-source/data-source.component.ts
  Frontend/gis/src/app/shared/shared.module.ts
Due: none

[#385] translation
  Frontend/gis/src/i18n/messages.de.xlf
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

[#385] refactoring parameters
  Frontend/gis/src/app/cases-dod/case-line-chart/case-line-chart.component.ts
  Frontend/gis/src/app/map/overlays/case-trend-canvas.layer.ts
  Frontend/gis/src/app/services/case-util.service.ts
Due: none

[#385] add hint and translations
  Frontend/gis/src/app/cases-dod/case-line-chart/case-line-chart.component.html
  Frontend/gis/src/app/cases-dod/case-line-chart/case-line-chart.component.less
  Frontend/gis/src/app/cases-dod/case-line-chart/case-line-chart.component.ts
  Frontend/gis/src/app/services/vega-linechart.service.ts
  Frontend/gis/src/i18n/messages.de.xlf
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

[#385] translation fixes
  Frontend/gis/src/app/cases-dod/case-line-chart/case-line-chart.component.html
  Frontend/gis/src/app/cases-dod/case-line-chart/case-line-chart.component.less
  Frontend/gis/src/app/cases-dod/case-line-chart/case-line-chart.component.ts
  Frontend/gis/src/i18n/messages.de.xlf
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

[#385] lint fixes
  Frontend/gis/src/app/cases-dod/case-line-chart/case-line-chart.component.ts
Due: none

[#386] fixes #386
  Crawler/crawl_risklayer_lk.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update typescript eslint packages to v4.12.0
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[refactor] decommision old crawlers
  Crawler/decommisioned/crawl_divi_data.py
  Crawler/decommisioned/crawl_rki_bed_capacity_oldimport_once.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[fix] typo in format string
  Crawler/crawl_rki_cases.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

add debugging output by default
  Crawler/crawl_rki_bed_capacity.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[refactor] migrate from xlrd to openpyxl and prepare for python 3.9+
  Crawler/crawl_risklayer_lk.py
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[refactor] migrate to python 3.9
  Crawler/Dockerfile
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update python Docker tag to v3.9
  .gitlab-ci.yml
  Backend/Dockerfile
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[renovate-bot] Update dependency numpy to v1.19.5
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency Flask-Cors to v3.0.10
  Backend/requirements.txt
Due: none
