Repository dbvis-ukon/coronavis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

Path conditions:
  dockerize-crawler: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  dockerize-tiles: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-crawler-staging: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-crawler-production-new: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-tiles-staging-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-tiles-production-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml

[renovate-bot] Update dependency urllib3 to v1.26.2
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Lock file maintenance
  Frontend/gis/package-lock.json
Due: none

[renovate-bot] Update dependency marshmallow-sqlalchemy to v0.24.1
  Backend/requirements.txt
Due: none

Resolve "handle edge case in risklayer crawler"
  Crawler/crawl_risklayer_lk.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

crawler (fix): regression fix
  Crawler/crawl_risklayer_lk.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[#367] api includes agegroups
  Backend/models/caseDevelopments.py
Due: none

[#367] refactor case details on demand
  Frontend/gis/src/app/app.module.ts
  Frontend/gis/src/app/cases-dod/case-dialog/case-dialog.component.html
  Frontend/gis/src/app/cases-dod/case-dialog/case-dialog.component.less
  Frontend/gis/src/app/cases-dod/case-dialog/case-dialog.component.ts
  Frontend/gis/src/app/cases-dod/case-info/case-info.component.html
  Frontend/gis/src/app/cases-dod/case-info/case-info.component.less
  Frontend/gis/src/app/cases-dod/case-info/case-info.component.ts
  Frontend/gis/src/app/cases-dod/case-tooltip/case-tooltip.component.html
  Frontend/gis/src/app/cases-dod/case-tooltip/case-tooltip.component.less
  Frontend/gis/src/app/cases-dod/case-tooltip/case-tooltip.component.ts
  Frontend/gis/src/app/cases-dod/cases-dod.module.ts
  Frontend/gis/src/app/map/overlays/casechoropleth.ts
  Frontend/gis/src/app/shared/shared.module.ts
  Frontend/gis/src/app/shared/vega/vega.component.less
  Frontend/gis/src/app/shared/vega/vega.component.ts
Due: none

[#367] wip: show agegroup in frontend
  Backend/models/caseDevelopments.py
  Frontend/gis/src/app/cases-dod/case-agegroup-chart/case-agegroup-chart.component.html
  Frontend/gis/src/app/cases-dod/case-agegroup-chart/case-agegroup-chart.component.less
  Frontend/gis/src/app/cases-dod/case-agegroup-chart/case-agegroup-chart.component.ts
  Frontend/gis/src/app/cases-dod/case-info/case-info.component.html
  Frontend/gis/src/app/cases-dod/cases-dod.module.ts
  Frontend/gis/src/app/repositories/types/in/quantitative-rki-case-development.ts
  Frontend/gis/src/app/services/vega-pixelchart.service.ts
  Frontend/gis/src/environments/environment.ts
Due: none

[#367] add timeagg selection
  Frontend/gis/src/app/cases-dod/case-agegroup-chart/case-agegroup-chart.component.html
  Frontend/gis/src/app/cases-dod/case-agegroup-chart/case-agegroup-chart.component.ts
  Frontend/gis/src/app/services/vega-pixelchart.service.ts
Due: none

Revert "Merge branch 'renovate/docker-python-3.x' into 'master'"
  .gitlab-ci.yml
  Backend/Dockerfile
  Crawler/Dockerfile
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

always run dockerize crawlers
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

fix syntax errors
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[#367] prettify UI
  Frontend/gis/src/app/cases-dod/case-agegroup-chart/case-agegroup-chart.component.html
  Frontend/gis/src/app/cases-dod/case-agegroup-chart/case-agegroup-chart.component.less
  Frontend/gis/src/app/cases-dod/case-agegroup-chart/case-agegroup-chart.component.ts
Due: none

[renovate-bot] Update dependency sentry_sdk to v0.19.4
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency sentry-sdk to v0.19.4
  Backend/requirements.txt
Due: none

[#367] translation
  Frontend/gis/src/i18n/messages.de.xlf
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

[#367] add missing translations
  Frontend/gis/src/app/cases-dod/case-agegroup-chart/case-agegroup-chart.component.html
  Frontend/gis/src/app/cases-dod/case-agegroup-chart/case-agegroup-chart.component.less
  Frontend/gis/src/app/cases-dod/case-agegroup-chart/case-agegroup-chart.component.ts
  Frontend/gis/src/i18n/messages.de.xlf
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

[hotfix] add missing information about data sources
  Frontend/gis/src/app/cases-dod/case-agegroup-chart/case-agegroup-chart.component.html
  Frontend/gis/src/app/cases-dod/case-agegroup-chart/case-agegroup-chart.component.less
  Frontend/gis/src/i18n/messages.de.xlf
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

[#370] fixes #370
  Frontend/gis/src/app/cases-dod/case-info/case-info.component.ts
  Frontend/gis/src/app/services/case-util.service.ts
  Frontend/gis/src/environments/environment.ts
Due: none

add logo
  Frontend/gis/src/app/overview/overview.component.html
  Frontend/gis/src/app/overview/overview.component.less
  Frontend/gis/src/app/overview/overview.component.ts
  Frontend/gis/src/assets/coronavislogo.png
  Frontend/gis/src/assets/coronavislogo300.png
  README.md
Due: none

[renovate-bot] Update angular packages
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

migration
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
  Frontend/gis/src/app/app-routing.module.ts
Due: none

[#371] fixes #371
  Frontend/gis/src/app/cases-dod/case-info/case-info.component.ts
Due: none

- crawler (refactoring): remove deprecated divi map crawler
  k8/crawler-new/templates/cron-covid19vis-crawler-divi-hospitals-map.yaml
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new
