Repository dbvis-ukon/coronavis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

Path conditions:
  dockerize-crawler: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  dockerize-tiles: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-crawler-staging: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-crawler-production-new: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-tiles-staging-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-tiles-production-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml

[renovate-bot] Lock file maintenance
  Frontend/gis/package-lock.json
Due: none

[renovate-bot] Update dependency karma to ~6.2.0
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update alpine/helm Docker tag to v3.5.3
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[renovate-bot] Update dependency alembic to v1.5.7
  Backend/requirements.txt
Due: none

[#391] fix nullpointer
  Frontend/gis/src/app/infobox/infobox.component.html
  Frontend/gis/src/app/infobox/infobox.component.ts
  Frontend/gis/src/app/services/country-aggregator.service.ts
  Frontend/gis/src/i18n/messages.de.xlf
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

[#393] db migration
  Backend/migrations/alembic/versions/296c837aaf67_create_survstat_table.py
Due: none

[#393] crawler
  Crawler/crawl_survstat_agegroups.py
  Crawler/requirements.txt
  k8/crawler-new/templates/cron-covid19vis-crawler-survstat-agegroups.yaml
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[#393] migration for population_survstat_agegroup
  Backend/migrations/alembic/versions/91c9d723d958_add_population_survstat_agegroups.py
  misc/.gitignore
  misc/notebooks/.ipynb_checkpoints/queries_helper-checkpoint.ipynb
  misc/notebooks/.ipynb_checkpoints/survestat-checkpoint.ipynb
  misc/notebooks/db.py
  misc/notebooks/loadenv.py
  misc/notebooks/queries_helper.ipynb
  misc/notebooks/survestat.ipynb
Due: none

[#393] migration for updating mv cases_per_county_and_day
  Backend/migrations/alembic/versions/f96132b7a0d1_update_materialized_view_cases_per_.py
  misc/notebooks/queries_helper.ipynb
Due: none

[#393] saving notebooks
  misc/notebooks/.ipynb_checkpoints/queries_helper-checkpoint.ipynb
  misc/notebooks/queries_helper.ipynb
Due: none

[#393] refactoring
  Backend/models/caseDevelopments.py
  Backend/views/cases.py
  Backend/views/cases_risklayer.py
  Backend/views/email_subs.py
Due: none

[renovate-bot] Update dependency eslint-plugin-jsdoc to v32.3.0
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[#393] add data to endpoint
  Backend/models/caseDevelopments.py
Due: none

[renovate-bot] Update dependency urllib3 to v1.26.4
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[#393] fix crawler to include 0-rows
  Crawler/crawl_survstat_agegroups.py
  k8/crawler-new/templates/cron-covid19vis-crawler-survstat-agegroups.yaml
  misc/notebooks/.ipynb_checkpoints/survestat-checkpoint.ipynb
  misc/notebooks/survestat.ipynb
  misc/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[#393] fix migration
  Backend/migrations/alembic/versions/f96132b7a0d1_update_materialized_view_cases_per_.py
Due: none

[#393] frontend wip
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
  Frontend/gis/src/app/cases-dod/case-agegroup-chart/case-agegroup-chart.component.html
  Frontend/gis/src/app/cases-dod/case-agegroup-chart/case-agegroup-chart.component.ts
  Frontend/gis/src/app/cases-dod/case-info/case-info.component.html
  Frontend/gis/src/app/cases-dod/case-info/case-info.component.ts
  Frontend/gis/src/app/cases-dod/covid-chart-options.ts
  Frontend/gis/src/app/repositories/types/in/quantitative-rki-case-development.ts
  Frontend/gis/src/app/services/case-util.service.ts
  Frontend/gis/src/app/services/vega-pixelchart.service.ts
  Frontend/gis/src/app/shared/data-source/data-source.component.html
  Frontend/gis/src/app/shared/data-source/data-source.component.ts
  Frontend/gis/src/app/shared/vega/vega.component.less
  Frontend/gis/src/app/shared/vega/vega.component.ts
  Frontend/gis/src/environments/environment.ts
  Frontend/gis/src/i18n/messages.de.xlf
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

[#393] update to node:15
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[renovate-bot] Update dependency SQLAlchemy to v1.4.0
  Backend/requirements.txt
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[#393] css fixes and tooltip fix
  Frontend/gis/src/app/cases-dod/case-info/case-info.component.less
  Frontend/gis/src/app/cases-dod/case-line-chart/case-line-chart.component.html
  Frontend/gis/src/app/cases-dod/case-line-chart/case-line-chart.component.less
  Frontend/gis/src/app/cases-dod/case-line-chart/case-line-chart.component.ts
  Frontend/gis/src/app/cases-dod/case-table/case-table.component.less
  Frontend/gis/src/app/cases-dod/case-table/case-table.component.ts
  Frontend/gis/src/app/map/overlays/casechoropleth.ts
  Frontend/gis/src/app/repositories/case-development.repository.ts
  Frontend/gis/src/app/services/vega-linechart.service.ts
Due: none

[#393] update eslint
  Frontend/gis/.eslintrc.json
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[#393] revert environment
  Frontend/gis/src/environments/environment.ts
Due: none

[renovate-bot] Update dependency Flask-Caching to v1.10.1
  Backend/requirements.txt
Due: none

[#394] reverse engineer population from survstat counts and incidences
  misc/notebooks/.ipynb_checkpoints/queries_helper-checkpoint.ipynb
  misc/notebooks/.ipynb_checkpoints/survestat-checkpoint.ipynb
  misc/notebooks/queries_helper.ipynb
  misc/notebooks/survestat.ipynb
  misc/requirements.txt
Due: none

[#393] migrations to use new population data
  Backend/migrations/alembic/versions/59ad7ea918b6_add_survstat_berlin_hack_view.py
  Backend/migrations/alembic/versions/86ec65c533a4_add_survstat_population_data.py
  Backend/migrations/alembic/versions/bbaf5488b4fe_update_mv_cases_per_county_and_day.py
  Backend/migrations/alembic/versions/cea34abda294_add_rki_agegroup2_table.py
Due: none

[#394] add hint text
  Frontend/gis/src/app/cases-dod/case-agegroup-chart/case-agegroup-chart.component.html
  Frontend/gis/src/app/cases-dod/case-agegroup-chart/case-agegroup-chart.component.less
  Frontend/gis/src/i18n/messages.de.xlf
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

[renovate-bot] Update dependency SQLAlchemy to v1.4.1
  Backend/requirements.txt
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency jasmine-core to ~3.7.0
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none
