Repository dbvis-ukon/coronavis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

Path conditions:
  dockerize-crawler: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  dockerize-tiles: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-crawler-staging: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-crawler-production-new: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-tiles-staging-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-tiles-production-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml

update angular/material and angular/cdk
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

update @angular-eslint/schematics
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

yarn upgrade
  Frontend/gis/yarn.lock
Due: none

update angular/flex-layout
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

update @angular-builders/custom-webpack
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

update ngx-markdown
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

update lint-staged
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

update eslint-plugin-import
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

update @typescript-eslint/eslint-plugin
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

update @typescript-eslint/parser
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

update eslint-plugin-jsdoc
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

remove codelyzer
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

remove IE11 support
  Frontend/gis/.browserslistrc
Due: none

[ci] add cache to frontent-build
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[ci] add explicit cache key
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[renovate-bot] Lock file maintenance
  Frontend/gis/yarn.lock
Due: none

update vega packages
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

add job to check for missing translations
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[#421] adjust purple and grey colors
  Frontend/gis/src/app/services/case-choropleth-colormap.service.ts
Due: none

[#421] fix grey color
  Frontend/gis/src/app/services/case-choropleth-colormap.service.ts
Due: none

[] crawler (fix): do not allow concurrent crawlers
  k8/crawler-new/templates/cron-crawler-bed-capacity-lk.yaml
  k8/crawler-new/templates/cron-crawler-divi_private.yaml
  k8/crawler-new/templates/cron-crawler-divi_public.yaml
  k8/crawler-new/templates/cron-crawler-patient-cases.yaml
  k8/crawler-new/templates/cron-crawler-risklayer-lk.yaml
  k8/crawler-new/templates/cron-crawler-rki-lk-bl-cases.yaml
  k8/crawler-new/templates/cron-crawler-rki_incidences.yaml
  k8/crawler-new/templates/cron-crawler-survstat-agegroups.yaml
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update alpine/helm Docker tag to v3.7.2
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[renovate-bot] Update dependency SQLAlchemy to v1.4.28
  Backend/requirements.txt
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

refactor i18n
  Frontend/gis/package.json
  Frontend/gis/src/i18n/messages.de.xlf
  Frontend/gis/src/i18n/messages.en.xlf
  Frontend/gis/xliffmerge.json
  Frontend/gis/yarn.lock
Due: none

[#124] update @angular/cli to 13.1.1
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

update @angular/core to 13.1.0
  Frontend/gis/package.json
  Frontend/gis/src/app/app.module.ts
  Frontend/gis/yarn.lock
Due: none

update @angular/cdk @angular/material to 13.1.0
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

update misc packages
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency pandas to v1.3.5
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency sentry_sdk to v1.5.1
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update eslint packages to v5.7.0
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[] frontend (fix): remove all rules in line chart
  Frontend/gis/src/app/services/vega-linechart.service.ts
Due: none

[renovate-bot] Update dependency eslint-plugin-jsdoc to v37.2.1
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none
