Repository dbvis-ukon/coronavis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

dockerize-crawler:
  stage: build:docker
  image: docker:latest
  services:
  - docker:dind
  script:
  - source var.env
  - echo "$CI_REGISTRY_PASSWORD" | docker login --username "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - cd ${FOLDER}
  - IMGNAME=$(echo "${FOLDER}" | tr '[:upper:]' '[:lower:]')
  ...

dockerize-tiles:
  stage: build:docker
  image: docker:latest
  services:
  - docker:dind
  script:
  - source var.env
  - echo "$CI_REGISTRY_PASSWORD" | docker login --username "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - cd ${FOLDER}
  - IMGNAME=$(echo "${FOLDER}" | tr '[:upper:]' '[:lower:]')
  ...

deploy-crawler-staging:
  stage: deploy
  image:
    name: alpine/helm:3.1.2
    entrypoint:
    - sh
    - -c
    - apk add bash sed && /bin/bash
  script:
  - echo $KUBECONFIG
  - source var.env
  - cat var.env
  - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
  - echo $URL_ACCESSOR
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  ...

deploy-crawler-production-new:
  stage: deploy
  image:
    name: alpine/helm:3.1.2
    entrypoint:
    - sh
    - -c
    - apk add bash sed && /bin/bash
  script:
  - echo $KUBECONFIG
  - source var.env
  - cat var.env
  - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
  - echo $URL_ACCESSOR
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  ...

deploy-tiles-staging-new:
  stage: deploy
  image:
    name: alpine/helm:3.1.2
    entrypoint:
    - sh
    - -c
    - apk add bash sed && /bin/bash
  script:
  - echo $KUBECONFIG
  - source var.env
  - cat var.env
  - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
  - echo $URL_ACCESSOR
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  ...

deploy-tiles-production-new:
  stage: deploy
  image:
    name: alpine/helm:3.1.2
    entrypoint:
    - sh
    - -c
    - apk add bash sed && /bin/bash
  script:
  - echo $KUBECONFIG
  - source var.env
  - cat var.env
  - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
  - echo $URL_ACCESSOR
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  ...

[renovate-bot] Update dependency webpack to v5.71.0
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency tzlocal to v4.2
  Backend/requirements.txt
Due: none

[renovate-bot] Update dependency pandas to v1.4.2
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency moment to v2.29.2
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Lock file maintenance
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update sentry to v6.19.4
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency eslint-plugin-import to v2.26.0
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency prometheus-flask-exporter to v0.20.0
  Backend/requirements.txt
Due: none

[renovate-bot] Update dependency SQLAlchemy to v1.4.35
  Backend/requirements.txt
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update angular packages to v13.3.2
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update sentry to v6.19.6
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency prometheus-flask-exporter to v0.20.1
  Backend/requirements.txt
Due: none

[renovate-bot] Update dependency d3 to v7.4.3
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency @babel/core to v7.17.9
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency types-psycopg2 to v2.9.10
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency webpack to v5.72.0
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency eslint-plugin-jsdoc to v39
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update eslint packages
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency eslint-plugin-jsdoc to v39.1.0
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update sentry to v1.5.10
  Backend/requirements.txt
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency getsentry/sentry-cli to v2
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[renovate-bot] Update dependency jasmine-core to v4.1.0
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency @types/node to v16.11.27
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency d3 to v7.4.4
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency karma to v6.3.18
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency types-psycopg2 to v2.9.11
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update angular packages to v13.3.3
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency @types/jasmine to v4.0.3
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

Path conditions:
  dockerize-crawler: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  dockerize-tiles: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-crawler-staging: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-crawler-production-new: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-tiles-staging-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-tiles-production-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
