Repository dbvis-ukon/coronavis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

dockerize-crawler:
  stage: build:docker
  image: docker:latest
  services:
  - docker:dind
  script:
  - source var.env
  - echo "$CI_REGISTRY_PASSWORD" | docker login --username "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - cd ${FOLDER}
  - IMGNAME=$(echo "${FOLDER}" | tr '[:upper:]' '[:lower:]')
  ...

dockerize-tiles:
  stage: build:docker
  image: docker:latest
  services:
  - docker:dind
  script:
  - source var.env
  - echo "$CI_REGISTRY_PASSWORD" | docker login --username "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - cd ${FOLDER}
  - IMGNAME=$(echo "${FOLDER}" | tr '[:upper:]' '[:lower:]')
  ...

deploy-crawler-staging:
  stage: deploy
  image:
    name: alpine/helm:3.1.2
    entrypoint:
    - sh
    - -c
    - apk add bash sed && /bin/bash
  script:
  - echo $KUBECONFIG
  - source var.env
  - cat var.env
  - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
  - echo $URL_ACCESSOR
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  ...

deploy-crawler-production-new:
  stage: deploy
  image:
    name: alpine/helm:3.1.2
    entrypoint:
    - sh
    - -c
    - apk add bash sed && /bin/bash
  script:
  - echo $KUBECONFIG
  - source var.env
  - cat var.env
  - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
  - echo $URL_ACCESSOR
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  ...

deploy-tiles-staging-new:
  stage: deploy
  image:
    name: alpine/helm:3.1.2
    entrypoint:
    - sh
    - -c
    - apk add bash sed && /bin/bash
  script:
  - echo $KUBECONFIG
  - source var.env
  - cat var.env
  - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
  - echo $URL_ACCESSOR
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  ...

deploy-tiles-production-new:
  stage: deploy
  image:
    name: alpine/helm:3.1.2
    entrypoint:
    - sh
    - -c
    - apk add bash sed && /bin/bash
  script:
  - echo $KUBECONFIG
  - source var.env
  - cat var.env
  - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
  - echo $URL_ACCESSOR
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  ...

[renovate-bot] Lock file maintenance
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update sentry to v7.13.0
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency @types/leaflet to v1.8.0
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency holidays to v0.16
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update angular packages
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update eslint packages to v14.1.0
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update eslint packages to v14.1.1
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency core-js to v3.25.2
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update eslint packages to v5.38.0
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency karma to v6.4.1
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency pandas to v1.5.0
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency cron to v2
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot]: [renovate-bot] Update dependency cron to v2
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

update to cron 2.1.0
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

replace moment with luxon
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[] frontend (refactor): switch to luxon
  Frontend/gis/src/app/cases-dod/case-line-chart/case-line-chart.component.ts
  Frontend/gis/src/app/hospital-info/hospital-info.component.ts
  Frontend/gis/src/app/infobox/infobox.component.ts
  Frontend/gis/src/app/legend/legend.component.ts
  Frontend/gis/src/app/overview/ebrake/ebrake-tooltip/ebrake-tooltip.component.ts
  Frontend/gis/src/app/overview/ebrake/temporal-overview-chart/temporal-overview-chart.component.ts
  Frontend/gis/src/app/overview/ebrake/temporal-overview/temporal-overview.component.ts
  Frontend/gis/src/app/repositories/case-development.repository.ts
  Frontend/gis/src/app/repositories/ebrake.repository.ts
  Frontend/gis/src/app/repositories/qualitative-divi-development.respository.ts
  Frontend/gis/src/app/services/case-util.service.ts
  Frontend/gis/src/app/services/chart.service.ts
  Frontend/gis/src/app/services/country-aggregator.service.ts
  Frontend/gis/src/app/services/hospital-util.service.ts
  Frontend/gis/src/app/services/qualitative-colormap.service.ts
  Frontend/gis/src/app/services/table-overview.service.ts
  Frontend/gis/src/app/services/vega-linechart.service.ts
  Frontend/gis/src/app/services/vega-multilinechart.service.ts
  Frontend/gis/src/app/services/vega-pixelchart.service.ts
  Frontend/gis/src/app/services/vega-stacked-area-icu-categories.service.ts
  Frontend/gis/src/app/timeslider/timeslider.component.ts
  Frontend/gis/src/app/util/date-util.ts
Due: none

[] crawler (fix): update RKI url
  Crawler/crawl_rki_cases.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency Flask-Compress to v1.13
  Backend/requirements.txt
Due: none

[renovate-bot] Update angular packages to v14.2.3
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[] crawler (fix): increase memory limits
  k8/crawler-new/templates/cron-crawler-patient-cases.yaml
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update eslint packages to v14.1.2
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update alpine/helm Docker tag to v3.10.0
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[renovate-bot] Update dependency eslint to v8.24.0
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency core-js to v3.25.3
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update sentry to v1.9.9
  Backend/requirements.txt
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update eslint packages to v5.38.1
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update getsentry/sentry-cli Docker tag to v2.6.0
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

Path conditions:
  dockerize-crawler: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  dockerize-tiles: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-crawler-staging: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-crawler-production-new: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-tiles-staging-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-tiles-production-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
