Repository dbvis-ukon/coronavis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

Path conditions:
  dockerize-crawler: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  dockerize-tiles: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-crawler-staging: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-crawler-production-new: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-tiles-staging-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-tiles-production-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml

[renovate-bot] Update eslint packages to v4.33.0
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Lock file maintenance
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency Flask to v2.0.2
  Backend/requirements.txt
Due: none

[#417] add no-cache tags to jobs
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[renovate-bot] Update dependency Werkzeug to v2.0.2
  Backend/requirements.txt
Due: none

[renovate-bot] Update dependency alembic to v1.7.4
  Backend/requirements.txt
Due: none

[renovate-bot] Update alpine/helm Docker tag to v3.7.0
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[renovate-bot] Update dependency eslint-plugin-jsdoc to v36.1.1
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency jsonschema to v4.1.0
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency tzdata to v2021.2.post0
  Backend/requirements.txt
Due: none

[renovate-bot] Update dependency python-dotenv to v0.19.1
  Backend/requirements.txt
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency eslint-plugin-import to v2.25.2
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update alpine/helm Docker tag to v3.7.1
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[renovate-bot] Update dependency jasmine-core to ~3.10.0
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency @types/jasmine to ~3.10.0
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency ts-node to ~10.3.0
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency pandas to v1.3.4
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[] backend (refactoring): set application_name for postgres
  Backend/server.py
Due: none

[] backend (refactoring): change pool params for sql connection
  Backend/db.py
Due: none

[renovate-bot] Update dependency tzlocal to v4
  Backend/requirements.txt
Due: none

[] backend (refactoring): adjust application_name
  Backend/server.py
Due: none

[] backend (refactoring): adjust SQL connection parameters
  Backend/db.py
  Backend/server.py
Due: none

[] backend (fix): syntax error
  Backend/server.py
Due: none

[] backend (fix): disable pool_recycle
  Backend/server.py
Due: none

[] backend (fix): reduce number of connections for non-production builds even more
  Backend/server.py
Due: none

[] backend (fix): switch to LIFO pool
  Backend/server.py
Due: none
