Repository dbvis-ukon/coronavis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

Path conditions:
  dockerize-crawler: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  dockerize-tiles: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-crawler-staging: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-crawler-production-new: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-tiles-staging-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-tiles-production-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml

[#327] upgrade angular
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
  Frontend/gis/tsconfig.app.json
  Frontend/gis/tsconfig.base.json
  Frontend/gis/tsconfig.json
  Frontend/gis/tsconfig.spec.json
Due: none

[#327] add solution enabler logo
  Frontend/gis/src/app/overlay-brand/overlay-brand.component.html
  Frontend/gis/src/app/overlay-brand/overlay-brand.component.less
  Frontend/gis/src/assets/solution-enabler.png
Due: none

[#328] update to angular 10.1.5
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[#328] update dependencies
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[#328] aggregation level Germany
  Frontend/gis/src/app/infobox/infobox.component.html
  Frontend/gis/src/app/infobox/infobox.component.ts
  Frontend/gis/src/app/legend/legend.component.ts
  Frontend/gis/src/app/map/map.component.ts
  Frontend/gis/src/app/map/options/aggregation-level.enum.ts
  Frontend/gis/src/app/map/options/covid-number-case-options.ts
  Frontend/gis/src/app/map/overlays/abstract-glyph-canvas.layer.ts
  Frontend/gis/src/app/map/overlays/aggregated-glyph-canvas.layer.ts
  Frontend/gis/src/app/map/overlays/case-trend-canvas.layer.ts
  Frontend/gis/src/app/map/overlays/label-canvas.layer.ts
  Frontend/gis/src/app/map/overlays/single-glyph-canvas.layer.ts
  Frontend/gis/src/app/overview/overview-bed/overview-bed.component.ts
  Frontend/gis/src/app/overview/overview-case/overview-case.component.ts
  Frontend/gis/src/app/repositories/qualitative-divi-development.respository.ts
  Frontend/gis/src/app/repositories/quantitative-divi-development.respository.ts
  Frontend/gis/src/app/repositories/rki-case-development.repository.ts
  Frontend/gis/src/app/services/bed-choropleth-layer.service.ts
  Frontend/gis/src/app/services/case-choropleth-layer.service.ts
  Frontend/gis/src/app/services/config.service.ts
  Frontend/gis/src/app/services/country-aggregator.service.ts
  Frontend/gis/src/app/services/d3-choropleth-data.service.ts
  Frontend/gis/src/app/services/glyph-layer.service.ts
  Frontend/gis/src/app/services/translation.service.ts
  Frontend/gis/src/app/timeslider/timeslider.component.ts
  Frontend/gis/src/app/util/forceDirectedLayout.ts
  Frontend/gis/src/app/util/rect-collide.ts
  Frontend/gis/tslint.json
Due: none

[#328] fix rect collide script
  Frontend/gis/src/app/infobox/infobox.component.ts
  Frontend/gis/src/app/util/rect-collide.ts
Due: none

[#328] adjust translation
  Frontend/gis/src/i18n/messages.de.xlf
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

[#328] fix force collide sim
  Frontend/gis/src/app/util/rect-collide.ts
Due: none

[#328] refactor to solution tsconfig
  Frontend/gis/e2e/protractor.conf.js
  Frontend/gis/e2e/src/app.e2e-spec.ts
  Frontend/gis/e2e/src/app.po.ts
  Frontend/gis/e2e/tsconfig.json
  Frontend/gis/tsconfig.app.json
  Frontend/gis/tsconfig.base.json
  Frontend/gis/tsconfig.json
  Frontend/gis/tsconfig.spec.json
Due: none

[#328] check lint issues in CI
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[#328] extend CI to generate code quality survey
  .gitlab-ci.yml
  Frontend/code-quality-env.sh
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

test download and pvc
  Crawler/crawl_risklayer_lk.py
  k8/crawler-new/templates/cron-covid19vis-crawler-risklayer-lk.yaml
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[hotfix] crawler: fix labels in helm chart
  k8/crawler-new/templates/cron-covid19vis-crawler-risklayer-lk.yaml
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[#331] chore(deps): update angular
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[#331] chore(deps) update deps
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[#333] fixes vega regression bug
  Frontend/gis/src/app/services/vega-linechart.service.ts
Due: none

[#331] first risklayer version running
  Frontend/gis/src/app/infobox/infobox.component.html
  Frontend/gis/src/app/infobox/infobox.component.ts
  Frontend/gis/src/app/map-root/map-root.component.ts
  Frontend/gis/src/app/map/options/covid-number-case-options.ts
  Frontend/gis/src/app/overview/overview-case/overview-case.component.ts
  Frontend/gis/src/app/overview/overview-routing.module.ts
  Frontend/gis/src/app/repositories/case-development.repository.ts
  Frontend/gis/src/app/services/case-choropleth-layer.service.ts
  Frontend/gis/src/app/services/config.service.ts
  Frontend/gis/src/app/services/country-aggregator.service.ts
  Frontend/gis/src/app/services/d3-choropleth-data.service.ts
  Frontend/gis/src/app/util/date-util.ts
  Frontend/gis/src/environments/environment.ts
Due: none

[#331] use filters
  Frontend/gis/src/app/infobox/infobox.component.ts
  Frontend/gis/src/app/repositories/case-development.repository.ts
  Frontend/gis/src/app/repositories/types/in/quantitative-rki-case-development.ts
  Frontend/gis/src/app/services/case-choropleth-layer.service.ts
  Frontend/gis/src/app/services/case-util.service.ts
  Frontend/gis/src/app/services/country-aggregator.service.ts
  Frontend/gis/src/app/services/d3-choropleth-data.service.ts
Due: none

[#331] dynamically load full data in tooltip
  Frontend/gis/src/app/app.module.ts
  Frontend/gis/src/app/case-info/case-info.component.html
  Frontend/gis/src/app/case-info/case-info.component.ts
  Frontend/gis/src/app/repositories/case-development.repository.ts
  Frontend/gis/src/app/services/case-util.service.ts
Due: none

[#331] enhance statistics in infobox
  Frontend/gis/src/app/case-info/case-info.component.html
  Frontend/gis/src/app/infobox/infobox.component.html
  Frontend/gis/src/app/infobox/infobox.component.ts
Due: none

[#331] enhanced statistics for infobox
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
  Frontend/gis/src/app/infobox/infobox.component.html
  Frontend/gis/src/app/infobox/infobox.component.less
  Frontend/gis/src/app/infobox/infobox.component.ts
  Frontend/gis/src/app/repositories/cached.repository.ts
  Frontend/gis/src/app/repositories/case-development.repository.ts
  Frontend/gis/src/app/repositories/types/in/risklayer-prognosis.ts
Due: none

[#331] add data source
  Frontend/gis/src/app/infobox/infobox.component.html
  Frontend/gis/src/app/legend/legend.component.html
Due: none

[#331] css for loading indicator
  Frontend/gis/src/app/case-info/case-info.component.html
Due: none

[#331] change routing
  Frontend/gis/src/app/map-root/map-root.component.ts
  Frontend/gis/src/app/overview/overview-routing.module.ts
  Frontend/gis/src/app/overview/overview.component.html
Due: none

[#331] update statistics
  Frontend/gis/src/app/infobox/infobox.component.html
  Frontend/gis/src/app/infobox/infobox.component.ts
Due: none

[#331] help text
  Frontend/gis/src/app/help/help-dialog-live-view/help-dialog-live-view.component.html
  Frontend/gis/src/app/help/help-dialog-live-view/help-dialog-live-view.component.less
  Frontend/gis/src/app/help/help-dialog-live-view/help-dialog-live-view.component.ts
  Frontend/gis/src/app/help/help-dialog/help-dialog.component.html
  Frontend/gis/src/app/help/help.module.ts
Due: none

[#331] translation
  Frontend/gis/src/i18n/messages.de.xlf
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

[#332] adjust crawl time
  k8/crawler-new/templates/cron-covid19vis-crawler-risklayer-lk.yaml
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

update requirements.txt
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

update requirements.txt with xrld
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

add rk parsing and db update
  Crawler/crawl_risklayer_lk.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[#332] refresh materialized view after insert
  Crawler/crawl_risklayer_lk.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[#332] also write prognosis in DB
  Crawler/crawl_risklayer_lk.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[#330] autoreload on change
  docker-compose.yml
Due: none

[#330] util class to measure time
  Backend/timer.py
Due: none

[#330] increase read timeout to 180s
  k8/backend-new/templates/Ingress.yaml
Due: none

[#330] risklayer endpoints
  Backend/models/caseDevelopments.py
  Backend/server.py
  Backend/testing.http
  Backend/views/cases_risklayer.py
Due: none

[#330] use jsonb datatype for slightly faster queries
  Backend/models/caseDevelopments.py
Due: none

[#330] align api of rki cases with risklayer api
  Backend/views/cases.py
  Backend/views/cases_risklayer.py
Due: none
