Repository dbvis-ukon/coronavis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

Path conditions:
  dockerize-crawler: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  dockerize-tiles: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-crawler-staging: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-crawler-production-new: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-tiles-staging-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-tiles-production-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml

[renovate-bot] Update eslint packages to v4.21.0
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[#401] fix bug that statistics are not updated
  Frontend/gis/src/app/infobox/infobox.component.ts
Due: none

[renovate-bot] Lock file maintenance
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency SQLAlchemy to v1.4.6
  Backend/requirements.txt
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[] trigger tile-server build
  Tiles/Dockerfile
Due: dockerize-tiles, deploy-tiles-staging-new, deploy-tiles-production-new

[hotfix] fix for building nginx images with kaniko
  Tiles/Dockerfile
Due: dockerize-tiles, deploy-tiles-staging-new, deploy-tiles-production-new

[] disable warning
  Frontend/gis/src/app/overview/overview.component.ts
Due: none

[#401] optimize queries
  Backend/models/caseDevelopments.py
  Backend/models/icuDevelopments.py
Due: none

[renovate-bot] Update dependency SQLAlchemy to v1.4.7
  Backend/requirements.txt
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[#401] improve search experience
  Frontend/gis/src/app/overview/dashboard/region-selector/region-selector.component.ts
Due: none

[#401] fix force layout bounding boxes
  Frontend/gis/src/app/map/overlays/abstract-glyph-canvas.layer.ts
  Frontend/gis/src/app/map/overlays/case-trend-canvas.layer.ts
  Frontend/gis/src/app/map/overlays/label-canvas.layer.ts
  Frontend/gis/src/app/util/force-directed-layout.ts
  Frontend/gis/src/app/util/rect-collide.ts
  Frontend/gis/src/app/util/ts-canvas-layer.ts
Due: none

[#401] enable warning
  Frontend/gis/src/app/map/overlays/label-canvas.layer.ts
  Frontend/gis/src/app/overview/overview.component.ts
Due: none

[#401] fix value extents on manual temporal extents
  Frontend/gis/src/app/services/vega-multilinechart.service.ts
  Frontend/gis/src/app/services/vega-pixelchart.service.ts
  Frontend/gis/src/app/services/vega-stacked-area-icu-categories.service.ts
Due: none

[#401] fix 'dimensions must have positive integers' bug
  Frontend/gis/src/app/map/overlays/abstract-glyph-canvas.layer.ts
Due: none

[hotfix] fix selection options
  Frontend/gis/src/app/map/overlays/case-trend-canvas.layer.ts
  Frontend/gis/src/environments/environment.ts
Due: none

[renovate-bot] Update dependency jasmine-spec-reporter to v7
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[] update doc
  SECURITY.md
Due: none

[renovate-bot] Update eslint packages to v4.22.0
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency pandas to v1.2.4
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[] add buttons for video
  Frontend/gis/src/app/overview/dashboard/dashboard/dashboard.component.html
  Frontend/gis/src/app/overview/dashboard/dashboard/dashboard.component.ts
  Frontend/gis/src/app/overview/dashboard/dashboards-overview/dashboards-overview.component.html
  Frontend/gis/src/app/overview/dashboard/dashboards-overview/dashboards-overview.component.less
  Frontend/gis/src/i18n/messages.de.xlf
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

[renovate-bot] Update getsentry/sentry-cli Docker tag to v1.64.0
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[] turn off holiday-warning
  Frontend/gis/src/app/overview/overview.component.ts
Due: none

[renovate-bot] Update dependency SQLAlchemy to v1.4.8
  Backend/requirements.txt
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update alpine/helm Docker tag to v3.5.4
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new
