Repository dbvis-ukon/coronavis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

Path conditions:
  dockerize-crawler: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  dockerize-tiles: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-crawler-staging: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-crawler-production-new: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-tiles-staging-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-tiles-production-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml

[#423] crawler(fix): show diff in log
  Crawler/crawl_rki_cases.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[#423] crawler(fix): add leading zeros to county id
  Crawler/crawl_rki_cases.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[] crawler (fix): allow override heuristic
  Crawler/crawl_rki_cases.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[] crawler (refactoring): fetch data from db only once
  Crawler/crawl_rki_cases.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[] crawler (refactoring): test pypy
  Crawler/Dockerfile
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[] crawler (refactoring): go back to python
  Crawler/Dockerfile
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency eslint-plugin-jsdoc to v37.9.2
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Lock file maintenance
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency eslint-plugin-jsdoc to v37.9.3
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency @babel/core to v7.17.5
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[] crawler (fix/regression): fix datenbestand date
  Crawler/crawl_rki_cases.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency eslint-plugin-jsdoc to v37.9.4
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency webpack to v5.69.1
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update angular packages
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update eslint packages to v5.12.1
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency jasmine-core to v4.0.1
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update sentry to v1.5.6
  Backend/requirements.txt
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency types-psycopg2 to v2.9.7
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency getsentry/sentry-cli to v1.73.0
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[renovate-bot] Update eslint packages
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update sentry to v6.18.1
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency Flask-Compress to v1.11
  Backend/requirements.txt
Due: none

[renovate-bot] Update dependency eslint-plugin-jsdoc to v37.9.6
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency @types/node to v16.11.26
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency ts-node to v10.6.0
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency karma to v6.3.17
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[#424] frontend (fix): add minimum width to pixel chart
  Frontend/gis/src/app/cases-dod/case-info/case-info.component.html
  Frontend/gis/src/app/cases-dod/case-info/case-info.component.less
Due: none

[renovate-bot] Update angular packages to v13.2.5
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[#424] frontend(refactoring): use same layout for all components in info
  Frontend/gis/src/app/cases-dod/case-info/case-info.component.html
  Frontend/gis/src/app/cases-dod/case-info/case-info.component.less
Due: none

[#424] frontend(chores): adapt translations
  Frontend/gis/src/i18n/messages.de.xlf
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

[renovate-bot] Update dependency getsentry/sentry-cli to v1.73.1
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new
