Repository dbvis-ukon/coronavis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

dockerize-crawler:
  stage: build:docker
  image: docker:latest
  services:
  - docker:dind
  script:
  - source var.env
  - echo "$CI_REGISTRY_PASSWORD" | docker login --username "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - cd ${FOLDER}
  - IMGNAME=$(echo "${FOLDER}" | tr '[:upper:]' '[:lower:]')
  ...

dockerize-tiles:
  stage: build:docker
  image: docker:latest
  services:
  - docker:dind
  script:
  - source var.env
  - echo "$CI_REGISTRY_PASSWORD" | docker login --username "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - cd ${FOLDER}
  - IMGNAME=$(echo "${FOLDER}" | tr '[:upper:]' '[:lower:]')
  ...

deploy-crawler-staging:
  stage: deploy
  image:
    name: alpine/helm:3.1.2
    entrypoint:
    - sh
    - -c
    - apk add bash sed && /bin/bash
  script:
  - echo $KUBECONFIG
  - source var.env
  - cat var.env
  - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
  - echo $URL_ACCESSOR
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  ...

deploy-crawler-production-new:
  stage: deploy
  image:
    name: alpine/helm:3.1.2
    entrypoint:
    - sh
    - -c
    - apk add bash sed && /bin/bash
  script:
  - echo $KUBECONFIG
  - source var.env
  - cat var.env
  - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
  - echo $URL_ACCESSOR
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  ...

deploy-tiles-staging-new:
  stage: deploy
  image:
    name: alpine/helm:3.1.2
    entrypoint:
    - sh
    - -c
    - apk add bash sed && /bin/bash
  script:
  - echo $KUBECONFIG
  - source var.env
  - cat var.env
  - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
  - echo $URL_ACCESSOR
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  ...

deploy-tiles-production-new:
  stage: deploy
  image:
    name: alpine/helm:3.1.2
    entrypoint:
    - sh
    - -c
    - apk add bash sed && /bin/bash
  script:
  - echo $KUBECONFIG
  - source var.env
  - cat var.env
  - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
  - echo $URL_ACCESSOR
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  ...

[renovate-bot] Lock file maintenance
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency SQLAlchemy to v1.4.9
  Backend/requirements.txt
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[#402] enable compression
  Frontend/mysite.conf
Due: none

[#402] add caching to tiles
  Tiles/mysite.conf
Due: dockerize-tiles, deploy-tiles-staging-new, deploy-tiles-production-new

[] change polyfills
  Frontend/gis/.browserslistrc
  Frontend/gis/src/polyfills.ts
  Frontend/gis/webpack.config.js
Due: none

[] update eslint
  Frontend/gis/package.json
  Frontend/gis/src/polyfills.ts
  Frontend/gis/yarn.lock
Due: none

[] debug risklayer crawler
  Crawler/crawl_risklayer_lk.py
  Frontend/gis/webpack.config.js
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[#404] use workaround with cookies
  Crawler/.gitignore
  Crawler/crawl_risklayer_lk.py
  Crawler/db_config.py
  k8/crawler-new/templates/cron-covid19vis-crawler-risklayer-lk.yaml
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[#404] provide rk data as xlsx to download
  Backend/.gitignore
  Backend/views/cases_risklayer.py
  k8/backend-new/templates/Deployment.yaml
Due: none

[#404] debug crawler
  Crawler/crawl_risklayer_lk.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[#404] add missing splitlines
  Crawler/crawl_risklayer_lk.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[#404] remove debug
  Crawler/crawl_risklayer_lk.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[#404] swagger and last_update endpoint
  Backend/requirements.txt
  Backend/server.py
  Backend/views/cases_risklayer.py
Due: none

[#404] fix null pointer
  Frontend/gis/src/app/services/vega-pixelchart.service.ts
Due: none

[#404] fix download
  Backend/views/cases_risklayer.py
Due: none

[#404] reduce cache time
  Backend/views/cases_risklayer.py
Due: none

[#404] risklayer docs
  README.md
  risklayer.md
Due: none

[] add warning to collapsible
  risklayer.md
Due: none

[renovate-bot] Update dependency SQLAlchemy to v1.4.10
  Backend/requirements.txt
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency SQLAlchemy to v1.4.11
  Backend/requirements.txt
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency eslint-plugin-jsdoc to v32.3.1
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update getsentry/sentry-cli Docker tag to v1.64.1
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[] adjust payload for divi crawlers
  Crawler/crawl_divi_private.py
  Crawler/crawl_divi_public.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

Resolve "bug in locale provider"
  Frontend/gis/package.json
  Frontend/gis/src/app/app.module.ts
  Frontend/gis/src/app/services/i18n.service.ts
  Frontend/gis/src/app/shared/language-switcher/language-switcher.component.html
  Frontend/gis/src/app/shared/language-switcher/language-switcher.component.ts
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency json-url to v3
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[hotfix] don't show trend glyphs when other layers are activated
  Frontend/gis/src/app/map/overlays/case-trend-canvas.layer.ts
Due: none

Resolve "do not cache index.html"
  Frontend/mysite.conf
Due: none

[] federal emergency brake
  Backend/models/caseDevelopments.py
  Crawler/crawl_rki_cases.py
  Frontend/gis/src/app/infobox/infobox.component.html
  Frontend/gis/src/app/infobox/infobox.component.ts
  Frontend/gis/src/app/legend/legend.component.html
  Frontend/gis/src/app/legend/legend.component.ts
  Frontend/gis/src/app/map-root/map-root.component.ts
  Frontend/gis/src/app/map/options/covid-number-case-options.ts
  Frontend/gis/src/app/map/overlays/case-trend-canvas.layer.ts
  Frontend/gis/src/app/overview/overview.component.html
  Frontend/gis/src/app/overview/overview.component.ts
  Frontend/gis/src/app/repositories/types/in/quantitative-rki-case-development.ts
  Frontend/gis/src/app/services/case-choropleth-colormap.service.ts
  Frontend/gis/src/app/services/case-util.service.ts
  Frontend/gis/src/app/services/vega-linechart.service.ts
  Frontend/gis/src/app/shared/ebrake-snackbar/ebrake-snackbar.component.less
  Frontend/gis/src/app/shared/ebrake-snackbar/ebrake-snackbar.component.ts
  Frontend/gis/src/app/shared/shared.module.ts
  Frontend/gis/src/i18n/messages.de.xlf
  Frontend/gis/src/i18n/messages.en.xlf
  misc/notebooks/.ipynb_checkpoints/ebrake-checkpoint.ipynb
  misc/notebooks/ebrake.ipynb
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[] dedicated crawler for rki incidences
  Crawler/crawl_rki_cases.py
  Crawler/crawl_rki_incidences.py
  k8/crawler-new/templates/cron-covid19vis-crawler-rki_incidences.yaml
  misc/notebooks/Fallzahlen_Kum_Tab.xlsx
  misc/notebooks/ebrake.ipynb
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

Path conditions:
  dockerize-crawler: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  dockerize-tiles: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-crawler-staging: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-crawler-production-new: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-tiles-staging-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-tiles-production-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
