Repository dbvis-ukon/coronavis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

dockerize-crawler:
  stage: build:docker
  image: docker:latest
  services:
  - docker:dind
  script:
  - source var.env
  - echo "$CI_REGISTRY_PASSWORD" | docker login --username "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - cd ${FOLDER}
  - IMGNAME=$(echo "${FOLDER}" | tr '[:upper:]' '[:lower:]')
  ...

dockerize-tiles:
  stage: build:docker
  image: docker:latest
  services:
  - docker:dind
  script:
  - source var.env
  - echo "$CI_REGISTRY_PASSWORD" | docker login --username "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - cd ${FOLDER}
  - IMGNAME=$(echo "${FOLDER}" | tr '[:upper:]' '[:lower:]')
  ...

deploy-crawler-staging:
  stage: deploy
  image:
    name: alpine/helm:3.1.2
    entrypoint:
    - sh
    - -c
    - apk add bash sed && /bin/bash
  script:
  - echo $KUBECONFIG
  - source var.env
  - cat var.env
  - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
  - echo $URL_ACCESSOR
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  ...

deploy-crawler-production-new:
  stage: deploy
  image:
    name: alpine/helm:3.1.2
    entrypoint:
    - sh
    - -c
    - apk add bash sed && /bin/bash
  script:
  - echo $KUBECONFIG
  - source var.env
  - cat var.env
  - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
  - echo $URL_ACCESSOR
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  ...

deploy-tiles-staging-new:
  stage: deploy
  image:
    name: alpine/helm:3.1.2
    entrypoint:
    - sh
    - -c
    - apk add bash sed && /bin/bash
  script:
  - echo $KUBECONFIG
  - source var.env
  - cat var.env
  - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
  - echo $URL_ACCESSOR
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  ...

deploy-tiles-production-new:
  stage: deploy
  image:
    name: alpine/helm:3.1.2
    entrypoint:
    - sh
    - -c
    - apk add bash sed && /bin/bash
  script:
  - echo $KUBECONFIG
  - source var.env
  - cat var.env
  - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
  - echo $URL_ACCESSOR
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  ...

[renovate-bot] Update dependency ts-node to ~9.1.0
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Lock file maintenance
  Frontend/gis/package-lock.json
Due: none

[renovate-bot] Update dependency jasmine-spec-reporter to v6
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update dependency cryptography to v3.3
  Backend/requirements.txt
Due: none

[renovate-bot] Update alpine/helm Docker tag to v3.4.2
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[renovate-bot] Update dependency cryptography to v3.3.1
  Backend/requirements.txt
Due: none

[renovate-bot] Update dependency sentry_sdk to v0.19.5
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency sentry-sdk to v0.19.5
  Backend/requirements.txt
Due: none

fix RKI cannot encode its own data
  Crawler/crawl_rki_bed_capacity.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[hotfix] reduce CPU requirements
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[hotfix] fix RKI encoding disaster
  Crawler/crawl_rki_bed_capacity.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[regression-fix] fix typo
  Crawler/crawl_rki_bed_capacity.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[#379] use kaniko to build images
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[#379] fix params and add build-arg
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[#379] add missing symlink
  Frontend/Dockerfile
Due: none

[#377] add media query
  Frontend/gis/src/media-queryies.less
Due: none

[#377] remove legend and timeslider on small height
  Frontend/gis/src/app/map-root/map-root.component.html
  Frontend/gis/src/app/map-root/map-root.component.less
Due: none

[#377] fix linting error
  Frontend/gis/src/app/map/overlays/single-glyph-canvas.layer.ts
Due: none

[#377] minor fix to remove dangling comma
  Frontend/gis/src/app/map/overlays/single-glyph-canvas.layer.ts
Due: none

[#381] refactored app to use own local storage logic
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
  Frontend/gis/src/app/app.module.ts
  Frontend/gis/src/app/map-root/map-root.component.ts
  Frontend/gis/src/app/map/overlays/abstract-glyph-canvas.layer.ts
  Frontend/gis/src/app/map/overlays/aggregated-glyph-canvas.layer.ts
  Frontend/gis/src/app/map/overlays/case-trend-canvas.layer.ts
  Frontend/gis/src/app/map/overlays/label-canvas.layer.ts
  Frontend/gis/src/app/map/overlays/single-glyph-canvas.layer.ts
  Frontend/gis/src/app/services/bed-choropleth-layer.service.ts
  Frontend/gis/src/app/services/case-choropleth-layer.service.ts
  Frontend/gis/src/app/services/glyph-layer.service.ts
  Frontend/gis/src/app/services/my-local-storage.service.ts
  Frontend/gis/src/app/util/forceDirectedLayout.ts
Due: none

[#380] refactor to use eslint
  Frontend/gis/.eslintrc.json
  Frontend/gis/angular.json
  Frontend/gis/e2e/tsconfig.json
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
  Frontend/gis/src/app/button-panel/button-panel.component.ts
  Frontend/gis/src/app/hospital-info/hospital-info.component.ts
  Frontend/gis/src/app/infobox/infobox.component.ts
  Frontend/gis/src/app/legend/legend.component.ts
  Frontend/gis/src/app/repositories/types/in/general-development.ts
  Frontend/gis/src/app/services/vega-barchart.service.ts
  Frontend/gis/src/app/services/vega-linechart.service.ts
  Frontend/gis/src/app/services/vega-pixelchart.service.ts
  Frontend/gis/src/app/shared/hospital-search/hospital-search.component.ts
  Frontend/gis/src/app/shared/resize.directive.ts
  Frontend/gis/src/app/util/rect-collide.ts
  Frontend/gis/src/app/util/ts-canvas-layer.ts
  Frontend/gis/src/main.ts
  Frontend/gis/tsconfig.app.json
  Frontend/gis/tsconfig.base.json
  Frontend/gis/tsconfig.json
  Frontend/gis/tsconfig.spec.json
Due: none

[#380] adjust rules and autofix some stuff
  Frontend/gis/.eslintrc.json
  Frontend/gis/package.json
  Frontend/gis/src/app/cases-dod/case-dialog/case-dialog.component.ts
  Frontend/gis/src/app/cases-dod/case-info/case-info.component.ts
  Frontend/gis/src/app/decorators/cache.decorator.ts
  Frontend/gis/src/app/hospital-info-dialog/hospital-info-dialog.component.ts
  Frontend/gis/src/app/infobox/infobox.component.ts
  Frontend/gis/src/app/legend/legend.component.ts
  Frontend/gis/src/app/map/map.component.ts
  Frontend/gis/src/app/map/overlays/bedstatuschoropleth.ts
  Frontend/gis/src/app/map/overlays/helipads.ts
  Frontend/gis/src/app/map/overlays/hospital.ts
  Frontend/gis/src/app/map/overlays/landkreishospitals.ts
  Frontend/gis/src/app/overview/subscription/subscription.component.ts
  Frontend/gis/src/app/repositories/types/in/email-subscription.ts
  Frontend/gis/src/app/services/bed-choropleth-layer.service.ts
  Frontend/gis/src/app/services/case-util.service.ts
  Frontend/gis/src/app/services/d3-choropleth-data.service.ts
  Frontend/gis/src/app/services/geojson-util.service.ts
  Frontend/gis/src/app/services/vega-barchart.service.ts
  Frontend/gis/src/app/services/vega-linechart.service.ts
  Frontend/gis/src/app/services/vega-pixelchart.service.ts
  Frontend/gis/src/app/share-dialog/share-dialog.component.ts
  Frontend/gis/src/app/util/forceDirectedLayout.ts
  Frontend/gis/src/app/util/regression.ts
  Frontend/gis/src/app/util/touch-hack.ts
  Frontend/gis/src/app/util/ts-canvas-layer.ts
  Frontend/gis/src/environments/environment.prod.ts
  Frontend/gis/tslint.json
Due: none

[#374] closes #374
  Frontend/gis/src/app/cases-dod/case-agegroup-chart/case-agegroup-chart.component.html
  Frontend/gis/src/app/cases-dod/case-agegroup-chart/case-agegroup-chart.component.ts
  Frontend/gis/src/app/services/vega-linechart.service.ts
  Frontend/gis/src/app/services/vega-pixelchart.service.ts
  Frontend/gis/src/i18n/messages.de.xlf
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

[#382] turn on access log
  Frontend/mysite.conf
Due: none

[] trying to speed up pipeline
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[] speed up pipeline
  .gitlab-ci.yml
  Frontend/gis/package.json
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[] try simple ngcc command as per angular docs
  Frontend/gis/package.json
Due: none

[] give more memory
  Frontend/gis/package.json
Due: none

[] fix syntax
  Frontend/gis/package.json
Due: none

Path conditions:
  dockerize-crawler: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  dockerize-tiles: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-crawler-staging: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-crawler-production-new: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-tiles-staging-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-tiles-production-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
