Repository dbvis-ukon/coronavis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

Path conditions:
  dockerize-crawler: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  dockerize-tiles: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-crawler-staging: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-crawler-production-new: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-tiles-staging-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-tiles-production-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml

[] frontend (fix/refactoring): add data updated and checked
  Frontend/gis/src/app/overview/ebrake/temporal-overview-chart/temporal-overview-chart.component.html
  Frontend/gis/src/app/overview/ebrake/temporal-overview-chart/temporal-overview-chart.component.less
  Frontend/gis/src/app/overview/ebrake/temporal-overview-chart/temporal-overview-chart.component.ts
  Frontend/gis/src/app/overview/ebrake/temporal-overview/temporal-overview.component.html
  Frontend/gis/src/app/overview/ebrake/temporal-overview/temporal-overview.component.ts
  Frontend/gis/src/i18n/messages.de.xlf
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

[] devops (fix): fix helm templates
  k8/backend-new/templates/Deployment.yaml
  k8/frontend-new/templates/Deployment.yaml
  k8/tiles-new/templates/Deployment.yaml
Due: dockerize-tiles, deploy-tiles-staging-new, deploy-tiles-production-new

[] frontend (refactoring/feature): embed vis
  Frontend/gis/src/app/app-routing.module.ts
  Frontend/gis/src/app/overview/ebrake/ebrake-share-dialog/ebrake-share-dialog.component.html
  Frontend/gis/src/app/overview/ebrake/ebrake-share-dialog/ebrake-share-dialog.component.less
  Frontend/gis/src/app/overview/ebrake/ebrake-share-dialog/ebrake-share-dialog.component.ts
  Frontend/gis/src/app/overview/ebrake/ebrake.module.ts
  Frontend/gis/src/app/overview/ebrake/temporal-overview-chart/temporal-overview-chart.component.html
  Frontend/gis/src/app/overview/ebrake/temporal-overview-chart/temporal-overview-chart.component.less
  Frontend/gis/src/app/overview/ebrake/temporal-overview/temporal-overview.component.html
  Frontend/gis/src/app/overview/ebrake/temporal-overview/temporal-overview.component.ts
  Frontend/gis/src/app/repositories/region.repository.ts
  Frontend/gis/src/i18n/messages.de.xlf
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

[] frontend (fix): highlight current cell
  Frontend/gis/src/app/overview/ebrake/temporal-overview-chart/temporal-overview-chart.component.less
  Frontend/gis/src/app/overview/ebrake/temporal-overview-chart/temporal-overview-chart.component.ts
Due: none

[renovate-bot] Lock file maintenance
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency marshmallow-sqlalchemy to v0.25.0
  Backend/requirements.txt
Due: none

[renovate-bot] Update dependency SQLAlchemy to v1.4.13
  Backend/requirements.txt
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency alembic to v1.6.0
  Backend/requirements.txt
Due: none

[renovate-bot] Update eslint packages to v4.22.1
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency prometheus-flask-exporter to v0.18.2
  Backend/requirements.txt
Due: none

[] crawler (fix): adjust ebrake timeout and add holidays and ebrake150
  Crawler/crawl_rki_incidences.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[] misc: new ebrake timeout
  misc/notebooks/ebrake.ipynb
  misc/requirements.txt
Due: none

[] backend (refactoring): add holiday and ebrake150
  Backend/views/ebrake.py
Due: none

[] frontend (refactoring): show sunday and holidays in ebrake vis
  Frontend/gis/src/app/overview/ebrake/ebrake-tooltip/ebrake-tooltip.component.html
  Frontend/gis/src/app/overview/ebrake/temporal-overview-chart/temporal-overview-chart.component.html
  Frontend/gis/src/app/overview/ebrake/temporal-overview-chart/temporal-overview-chart.component.less
  Frontend/gis/src/app/overview/ebrake/temporal-overview-chart/temporal-overview-chart.component.ts
  Frontend/gis/src/app/repositories/ebrake.repository.ts
  Frontend/gis/src/i18n/messages.de.xlf
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

[renovate-bot] Update dependency eslint-plugin-jsdoc to v33.1.0
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[] devops (refactoring): switch to different storage
  k8/backend-new/templates/Deployment.yaml
  k8/crawler-new/templates/cron-covid19vis-crawler-bed-capacity-lk.yaml
  k8/crawler-new/templates/cron-covid19vis-crawler-divi_private.yaml
  k8/crawler-new/templates/cron-covid19vis-crawler-divi_public.yaml
  k8/crawler-new/templates/cron-covid19vis-crawler-risklayer-lk.yaml
  k8/crawler-new/templates/cron-covid19vis-crawler-rki_incidences.yaml
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[] devops (refactoring): up pvc storage to 20Gi for divi
  k8/crawler-new/templates/cron-covid19vis-crawler-divi_private.yaml
  k8/crawler-new/templates/cron-covid19vis-crawler-divi_public.yaml
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[] devops (fix): increase initialDelaySeconds
  k8/backend-new/templates/Deployment.yaml
Due: none

[] devops (refactoring): increase cpu and mem limits
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[renovate-bot] Update dependency sentry_sdk to v1.1.0
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency sentry-sdk to v1.1.0
  Backend/requirements.txt
Due: none

[renovate-bot] Update dependency alembic to v1.6.2
  Backend/requirements.txt
Due: none

[renovate-bot] Update dependency SQLAlchemy to v1.4.14
  Backend/requirements.txt
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency eslint-plugin-jsdoc to v33.1.1
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency @types/jasmine to ~3.7.0
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none
