Repository dbvis-ukon/coronavis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

dockerize-crawler:
  stage: build:docker
  image: docker:latest
  services:
  - docker:dind
  script:
  - source var.env
  - echo "$CI_REGISTRY_PASSWORD" | docker login --username "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - cd ${FOLDER}
  - IMGNAME=$(echo "${FOLDER}" | tr '[:upper:]' '[:lower:]')
  ...

dockerize-tiles:
  stage: build:docker
  image: docker:latest
  services:
  - docker:dind
  script:
  - source var.env
  - echo "$CI_REGISTRY_PASSWORD" | docker login --username "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - cd ${FOLDER}
  - IMGNAME=$(echo "${FOLDER}" | tr '[:upper:]' '[:lower:]')
  ...

deploy-crawler-staging:
  stage: deploy
  image:
    name: alpine/helm:3.1.2
    entrypoint:
    - sh
    - -c
    - apk add bash sed && /bin/bash
  script:
  - echo $KUBECONFIG
  - source var.env
  - cat var.env
  - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
  - echo $URL_ACCESSOR
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  ...

deploy-crawler-production-new:
  stage: deploy
  image:
    name: alpine/helm:3.1.2
    entrypoint:
    - sh
    - -c
    - apk add bash sed && /bin/bash
  script:
  - echo $KUBECONFIG
  - source var.env
  - cat var.env
  - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
  - echo $URL_ACCESSOR
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  ...

deploy-tiles-staging-new:
  stage: deploy
  image:
    name: alpine/helm:3.1.2
    entrypoint:
    - sh
    - -c
    - apk add bash sed && /bin/bash
  script:
  - echo $KUBECONFIG
  - source var.env
  - cat var.env
  - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
  - echo $URL_ACCESSOR
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  ...

deploy-tiles-production-new:
  stage: deploy
  image:
    name: alpine/helm:3.1.2
    entrypoint:
    - sh
    - -c
    - apk add bash sed && /bin/bash
  script:
  - echo $KUBECONFIG
  - source var.env
  - cat var.env
  - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
  - echo $URL_ACCESSOR
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  ...

[hotfix] use correct path
  Crawler/crawl_rki_incidences.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[] add ebrake endpoint
  Backend/server.py
  Backend/views/ebrake.py
Due: none

[] add ebrake endpoint
  Backend/server.py
Due: none

[renovate-bot] Lock file maintenance
  Frontend/gis/yarn.lock
Due: none

[] add 7_day_cases and perform nowcasting
  Backend/views/ebrake.py
  Crawler/crawl_rki_incidences.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[] force utc timezone when refreshing view
  Crawler/crawl_rki_cases.py
  Crawler/crawl_rki_incidences.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency marshmallow-sqlalchemy to v0.24.3
  Backend/requirements.txt
Due: none

[renovate-bot] Update dependency eslint-plugin-jsdoc to v32.3.2
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency @types/node to v15
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[hotfix] fix idx bug
  Crawler/crawl_rki_incidences.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[hotfix] fix auto-dashboard regions
  Frontend/gis/src/app/services/dashboard.service.ts
Due: none

[renovate-bot] Update dependency eslint-plugin-jsdoc to v32.3.3
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency eslint-plugin-jsdoc to v32.3.4
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[renovate-bot] Update dependency python-dotenv to v0.17.1
  Backend/requirements.txt
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency SQLAlchemy to v1.4.12
  Backend/requirements.txt
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency eslint-plugin-jsdoc to v33
  Frontend/gis/package.json
  Frontend/gis/yarn.lock
Due: none

[#406] crawler (feature): make predictions
  Crawler/crawl_rki_incidences.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[#406] misc (refactoring): adjusting ebrake predictions
  misc/notebooks/.ipynb_checkpoints/ebrake-checkpoint.ipynb
  misc/notebooks/ebrake.ipynb
Due: none

[#406] backend (feature/refactoring): add additional parameters to ebrake endpoint
  Backend/views/ebrake.py
Due: none

[#406] frontend (feature): ebrake temporal overview
  Frontend/gis/src/app/overview/dashboard/dashboard.module.ts
  Frontend/gis/src/app/overview/ebrake/ebrake-tooltip/ebrake-tooltip.component.html
  Frontend/gis/src/app/overview/ebrake/ebrake-tooltip/ebrake-tooltip.component.less
  Frontend/gis/src/app/overview/ebrake/ebrake-tooltip/ebrake-tooltip.component.ts
  Frontend/gis/src/app/overview/ebrake/ebrake.module.ts
  Frontend/gis/src/app/overview/ebrake/temporal-overview-chart/temporal-overview-chart.component.html
  Frontend/gis/src/app/overview/ebrake/temporal-overview-chart/temporal-overview-chart.component.less
  Frontend/gis/src/app/overview/ebrake/temporal-overview-chart/temporal-overview-chart.component.ts
  Frontend/gis/src/app/overview/ebrake/temporal-overview/temporal-overview.component.html
  Frontend/gis/src/app/overview/ebrake/temporal-overview/temporal-overview.component.less
  Frontend/gis/src/app/overview/ebrake/temporal-overview/temporal-overview.component.ts
  Frontend/gis/src/app/overview/overview-routing.module.ts
  Frontend/gis/src/app/overview/overview.component.html
  Frontend/gis/src/app/overview/overview.module.ts
  Frontend/gis/src/app/repositories/ebrake.repository.ts
  Frontend/gis/src/app/services/i18n.service.ts
  Frontend/gis/src/app/shared/footer/footer.component.html
  Frontend/gis/src/app/shared/footer/footer.component.less
  Frontend/gis/src/app/shared/footer/footer.component.ts
  Frontend/gis/src/app/shared/region-selector/region-selector.component.html
  Frontend/gis/src/app/shared/region-selector/region-selector.component.less
  Frontend/gis/src/app/shared/region-selector/region-selector.component.ts
  Frontend/gis/src/app/shared/shared.module.ts
  Frontend/gis/src/app/shared/vega/vega.component.ts
  Frontend/gis/src/environments/environment.ts
  Frontend/gis/src/i18n/messages.de.xlf
  Frontend/gis/src/i18n/messages.en.xlf
  Frontend/gis/src/styles.less
Due: none

[#406] frontend (fix): translation
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

[#406] frontend (fix): translation & css
  Frontend/gis/src/app/overview/ebrake/temporal-overview/temporal-overview.component.html
  Frontend/gis/src/i18n/messages.de.xlf
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

[] frontend (fix): css fixes and data source legend
  Frontend/gis/src/app/overview/ebrake/temporal-overview-chart/temporal-overview-chart.component.less
  Frontend/gis/src/app/overview/ebrake/temporal-overview/temporal-overview.component.html
  Frontend/gis/src/app/shared/data-source/data-source.component.html
  Frontend/gis/src/app/shared/data-source/data-source.component.ts
  Frontend/gis/src/i18n/messages.de.xlf
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

[#407] crawler (fix): consider holidays and only sundays
  Crawler/crawl_rki_incidences.py
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[#407] crawler (fix): minor fixes
  Crawler/crawl_rki_incidences.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[hotfix] add missing router module
  Frontend/gis/src/app/shared/footer/footer.component.html
  Frontend/gis/src/app/shared/footer/footer.component.less
  Frontend/gis/src/app/shared/shared.module.ts
Due: none

[hotfix] crawler (fix): handle empty columns
  Crawler/crawl_rki_incidences.py
  misc/notebooks/.ipynb_checkpoints/rki-de-inzidenzen-checkpoint.ipynb
  misc/notebooks/Fallzahlen_Kum_Tab.xlsm
  misc/notebooks/rki-de-inzidenzen.ipynb
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[] frontend (fix): css fix for mobile devices
  Frontend/gis/src/app/overview/ebrake/temporal-overview/temporal-overview.component.less
Due: none

[hotfix] crawler (fix): idx error
  Crawler/crawl_rki_incidences.py
  misc/notebooks/rki-de-inzidenzen.ipynb
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[hotfix] crawler (fix): handle nan correctly
  Crawler/crawl_rki_incidences.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[] use pod anti affinity
  k8/backend-new/templates/Deployment.yaml
  k8/frontend-new/templates/Deployment.yaml
  k8/tiles-new/templates/Deployment.yaml
Due: dockerize-tiles, deploy-tiles-staging-new, deploy-tiles-production-new

Path conditions:
  dockerize-crawler: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  dockerize-tiles: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-crawler-staging: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-crawler-production-new: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-tiles-staging-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-tiles-production-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
