Repository dbvis-ukon/coronavis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

Path conditions:
  dockerize-crawler: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  dockerize-tiles: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-crawler-staging: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-crawler-production-new: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-tiles-staging-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-tiles-production-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml

[#169] Add missing translations
  Frontend/gis/src/app/infobox/infobox.component.html
  Frontend/gis/src/i18n/messages.de.xlf
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

[#169] More descriptive label
  Frontend/gis/src/app/infobox/infobox.component.html
Due: none

[#169] slower animations
  Frontend/gis/src/app/map/overlays/aggregated-glyph.layer.ts
  Frontend/gis/src/app/map/overlays/simple-glyph.layer.ts
Due: none

[#217][#219] Fix typos and add DESTATIS to data sources
  Frontend/gis/src/app/help-dialog/help-dialog.component.html
  Frontend/gis/src/app/hospital-info/hospital-info.component.html
  Frontend/gis/src/app/infobox/infobox.component.html
Due: none

[#218] added warning icon
  Frontend/gis/src/app/overlay-mobile/overlay-mobile.component.html
  Frontend/gis/src/app/overlay-mobile/overlay-mobile.component.less
Due: none

[#218] close help dialog if mobile
  Frontend/gis/src/app/help-dialog/help-dialog.component.ts
Due: none

[#215] changed color and opacity
  Frontend/gis/src/app/map/map.component.less
  Frontend/gis/src/environments/environment.ts
Due: none

:shrug:
  abuse-of-the-system-dont-8-me-bro
Due: none

Deleted abuse-of-the-system-dont-8-me-bro
  abuse-of-the-system-dont-8-me-bro
Due: none

[#220] Fix video URL
  Frontend/gis/src/app/help-dialog/help-dialog.component.html
  Frontend/gis/src/app/infobox/infobox.component.ts
Due: none

[#222] Hide positions settings when glyphs are not shown
  Frontend/gis/src/app/infobox/infobox.component.html
Due: none

[#221] Switch to our own performance-optimized leaflet version
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[#203] add extra datapoint
  Frontend/gis/src/app/hospital-info/hospital-info.component.ts
Due: none

[#10] refactored code to use app component for localStorage
  Frontend/gis/src/app/app.component.html
  Frontend/gis/src/app/app.component.ts
  Frontend/gis/src/app/infobox/infobox.component.ts
  Frontend/gis/src/app/map/map.component.ts
  Frontend/gis/src/app/map/options/map-location-settings.ts
  Frontend/gis/src/app/util/safe-debounce.ts
  Frontend/gis/src/constants.ts
Due: none

[#203] set the timestamp for extra datapoint to start of the day
  Frontend/gis/src/app/hospital-info/hospital-info.component.ts
Due: none

[#203] remove console.log
  Frontend/gis/src/app/hospital-info/hospital-info.component.ts
Due: none

[#227] Map performance 227-map-performance-improvements
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
  Frontend/gis/src/app/map/map.component.less
  Frontend/gis/src/app/map/overlays/aggregated-glyph.layer.ts
  Frontend/gis/src/app/map/overlays/simple-glyph.layer.ts
Due: none

[#203] Always show timeline up to the current timestamp
  Frontend/gis/src/app/hospital-info/hospital-info.component.html
  Frontend/gis/src/app/hospital-info/hospital-info.component.ts
Due: none

[#203] Remove debug log output
  Frontend/gis/src/app/hospital-info/hospital-info.component.ts
Due: none

update divi data crawler to also support covid19 cases
  Crawler/crawl_divi_data.py
  k8/crawler-new/templates/cron-covid19vis-crawler-divi-hospitals-map.yaml
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

fix variable name
  Crawler/crawl_divi_data.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

fix regression
  Crawler/crawl_divi_data.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[#205] closes #205
  Frontend/gis/src/app/infobox/infobox.component.html
  Frontend/gis/src/app/infobox/infobox.component.less
Due: none

[#205] updated translation files
  Frontend/gis/src/i18n/messages.de.xlf
  Frontend/gis/src/i18n/messages.en.xlf
Due: none

[#228] seems to fix the bug
  Frontend/gis/src/app/map/map.component.ts
Due: none

[hotfix] add unsafe-perm for faster ngcc
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[#228] implement switch map to only take last request
  Frontend/gis/src/app/map/map.component.ts
Due: none

[231] fix and adapt to new rki data format
  Crawler/crawl_rki_cases.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[] try to fix tile server pipeline configuration
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[] no longer build tile server on gitlab ci changes
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[#10] add router and refactor app component to map-root component
  Frontend/gis/package.json
  Frontend/gis/src/app/app-routing.module.ts
  Frontend/gis/src/app/app.component.html
  Frontend/gis/src/app/app.component.less
  Frontend/gis/src/app/app.component.ts
  Frontend/gis/src/app/app.module.ts
  Frontend/gis/src/app/map-root/map-root.component.html
  Frontend/gis/src/app/map-root/map-root.component.less
  Frontend/gis/src/app/map-root/map-root.component.ts
  Frontend/gis/src/app/map/map.component.ts
Due: none

[#224] fixes #224
  Frontend/gis/src/app/app.module.ts
  Frontend/gis/src/app/services/i18n.service.ts
Due: none

[#224] regression: cleanup nginx config
  Frontend/mysite.conf
Due: none

[#224] regression: cleanup
  Frontend/gis/src/app/app.module.ts
  Frontend/gis/src/app/services/i18n.service.ts
  Frontend/gis/src/constants.ts
Due: none

[#238] Add sentry integration
  .gitlab-ci.yml
  Frontend/gis/package.json
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new
