Repository dbvis-ukon/coronavis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

dockerize-crawler:
  stage: build:docker
  image: docker:latest
  services:
  - docker:dind
  script:
  - source var.env
  - echo "$CI_REGISTRY_PASSWORD" | docker login --username "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - cd ${FOLDER}
  - IMGNAME=$(echo "${FOLDER}" | tr '[:upper:]' '[:lower:]')
  ...

dockerize-tiles:
  stage: build:docker
  image: docker:latest
  services:
  - docker:dind
  script:
  - source var.env
  - echo "$CI_REGISTRY_PASSWORD" | docker login --username "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - cd ${FOLDER}
  - IMGNAME=$(echo "${FOLDER}" | tr '[:upper:]' '[:lower:]')
  ...

deploy-crawler-staging:
  stage: deploy
  image:
    name: alpine/helm:3.1.2
    entrypoint:
    - sh
    - -c
    - apk add bash sed && /bin/bash
  script:
  - echo $KUBECONFIG
  - source var.env
  - cat var.env
  - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
  - echo $URL_ACCESSOR
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  ...

deploy-crawler-production-new:
  stage: deploy
  image:
    name: alpine/helm:3.1.2
    entrypoint:
    - sh
    - -c
    - apk add bash sed && /bin/bash
  script:
  - echo $KUBECONFIG
  - source var.env
  - cat var.env
  - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
  - echo $URL_ACCESSOR
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  ...

deploy-tiles-staging-new:
  stage: deploy
  image:
    name: alpine/helm:3.1.2
    entrypoint:
    - sh
    - -c
    - apk add bash sed && /bin/bash
  script:
  - echo $KUBECONFIG
  - source var.env
  - cat var.env
  - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
  - echo $URL_ACCESSOR
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  ...

deploy-tiles-production-new:
  stage: deploy
  image:
    name: alpine/helm:3.1.2
    entrypoint:
    - sh
    - -c
    - apk add bash sed && /bin/bash
  script:
  - echo $KUBECONFIG
  - source var.env
  - cat var.env
  - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
  - echo $URL_ACCESSOR
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  ...

[renovate-bot] Update dependency sentry-sdk to v0.19.2
  Backend/requirements.txt
Due: none

[renovate-bot] Update dependency Flask-Compress to v1.8.0
  Backend/requirements.txt
Due: none

[renovate-bot] Lock file maintenance
  Frontend/gis/package-lock.json
Due: none

[#361] load data into DB
  Crawler/.gitignore
  Crawler/crawl_divi_private.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency @types/d3 to v6
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

Resolve "bug in timetravel in ICU mode"
  Frontend/gis/src/app/map/map.component.ts
  Frontend/gis/src/app/overview/subscription/subscription.component.html
  Frontend/gis/src/app/overview/subscription/subscription.component.less
  Frontend/gis/src/app/services/country-aggregator.service.ts
  Frontend/gis/src/app/shared/hospital-search/hospital-search.component.html
  Frontend/gis/src/app/timeslider/timeslider.component.ts
  Frontend/gis/src/environments/environment.ts
Due: none

[renovate-bot] Update getsentry/sentry-cli Docker tag to v1.59.0
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[hotfix] crawler: use correct file in iteration
  Crawler/crawl_divi_private.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[#363] fix tile url
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[#147] wip: installed alembic
  Migrations/.gitignore
  Migrations/alembic.ini
  Migrations/alembic/README
  Migrations/alembic/env.py
  Migrations/alembic/script.py.mako
  Migrations/main.py
  Migrations/requirements.txt
Due: none

[#364] write data into the same table
  Crawler/crawl_divi_private.py
  Crawler/crawl_divi_public.py
  Crawler/crawler.py
  Migrations/.gitignore
  k8/crawler-new/templates/cron-covid19vis-crawler-divi_public.yaml
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[#364] refresh materialized view
  Crawler/crawl_divi_public.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[#364] don't load old data into DB
  Crawler/crawl_divi_private.py
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[#365] increase pool sze and max_overflow size
  Backend/db.py
Due: none

[#366] enhance email notification
  Backend/models/caseDevelopments.py
  Backend/models/risklayer_prognosis.py
  Backend/templates/mail/county_notification.html
  Backend/templates/mail/county_notification.txt
  Backend/views/email_subs.py
Due: none

[#366] frontend (chore): update deps
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[#366] frontend (refactor): use newly available information in RKITimedStatus
  Frontend/gis/src/app/infobox/infobox.component.ts
  Frontend/gis/src/app/repositories/types/in/quantitative-rki-case-development.ts
Due: none

[hotfix] fix typo
  Backend/templates/mail/county_notification.html
  Backend/templates/mail/county_notification.txt
Due: none

[renovate-bot] Update dependency urllib3 to v1.26.1
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency requests to v2.25.0
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update alpine/helm Docker tag to v3.4.1
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[renovate-bot] Update dependency sentry-sdk to v0.19.3
  Backend/requirements.txt
Due: none

[renovate-bot] Update dependency sentry_sdk to v0.19.3
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

Path conditions:
  dockerize-crawler: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  dockerize-tiles: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-crawler-staging: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-crawler-production-new: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-tiles-staging-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-tiles-production-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
