Repository dbvis-ukon/coronavis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

dockerize-crawler:
  stage: build:docker
  image: docker:latest
  services:
  - docker:dind
  script:
  - source var.env
  - echo "$CI_REGISTRY_PASSWORD" | docker login --username "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - cd ${FOLDER}
  - IMGNAME=$(echo "${FOLDER}" | tr '[:upper:]' '[:lower:]')
  ...

dockerize-tiles:
  stage: build:docker
  image: docker:latest
  services:
  - docker:dind
  script:
  - source var.env
  - echo "$CI_REGISTRY_PASSWORD" | docker login --username "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - cd ${FOLDER}
  - IMGNAME=$(echo "${FOLDER}" | tr '[:upper:]' '[:lower:]')
  ...

deploy-crawler-staging:
  stage: deploy
  image:
    name: alpine/helm:3.1.2
    entrypoint:
    - sh
    - -c
    - apk add bash sed && /bin/bash
  script:
  - echo $KUBECONFIG
  - source var.env
  - cat var.env
  - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
  - echo $URL_ACCESSOR
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  ...

deploy-crawler-production-new:
  stage: deploy
  image:
    name: alpine/helm:3.1.2
    entrypoint:
    - sh
    - -c
    - apk add bash sed && /bin/bash
  script:
  - echo $KUBECONFIG
  - source var.env
  - cat var.env
  - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
  - echo $URL_ACCESSOR
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  ...

deploy-tiles-staging-new:
  stage: deploy
  image:
    name: alpine/helm:3.1.2
    entrypoint:
    - sh
    - -c
    - apk add bash sed && /bin/bash
  script:
  - echo $KUBECONFIG
  - source var.env
  - cat var.env
  - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
  - echo $URL_ACCESSOR
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  ...

deploy-tiles-production-new:
  stage: deploy
  image:
    name: alpine/helm:3.1.2
    entrypoint:
    - sh
    - -c
    - apk add bash sed && /bin/bash
  script:
  - echo $KUBECONFIG
  - source var.env
  - cat var.env
  - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
  - echo $URL_ACCESSOR
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  ...

[renovate-bot] Update dependency alembic to v1.5.2
  Backend/requirements.txt
Due: none

[renovate-bot] Lock file maintenance
  Frontend/gis/package-lock.json
Due: none

[#388] wip: comparative view
  Backend/models/caseDevelopments.py
  Backend/views/cases.py
  Backend/views/cases_risklayer.py
  Frontend/gis/src/app/overview/comparison/comparison-view/comparison-view.component.html
  Frontend/gis/src/app/overview/comparison/comparison-view/comparison-view.component.less
  Frontend/gis/src/app/overview/comparison/comparison-view/comparison-view.component.ts
  Frontend/gis/src/app/overview/comparison/comparison.module.ts
  Frontend/gis/src/app/overview/comparison/pixel-chart/pixel-chart.component.html
  Frontend/gis/src/app/overview/comparison/pixel-chart/pixel-chart.component.less
  Frontend/gis/src/app/overview/comparison/pixel-chart/pixel-chart.component.ts
  Frontend/gis/src/app/overview/overview-routing.module.ts
  Frontend/gis/src/app/overview/overview.module.ts
  Frontend/gis/src/app/repositories/case-development.repository.ts
  Frontend/gis/src/app/repositories/types/in/quantitative-rki-case-development.ts
  Frontend/gis/src/app/services/cases-region-aggregator.service.ts
  Frontend/gis/src/app/services/vega-pixelchart.service.ts
  Frontend/gis/src/app/shared/vega/vega.component.less
  Frontend/gis/src/app/shared/vega/vega.component.ts
  Frontend/gis/src/environments/environment.ts
Due: none

[] chores: update angular packages
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update dependency typescript to ~4.1.0
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update dependency eslint-plugin-jsdoc to v31.1.0
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update dependency eslint-plugin-jsdoc to v31.2.0
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update dependency eslint-plugin-jsdoc to v31.2.1
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update dependency eslint-plugin-jsdoc to v31.2.2
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update dependency eslint-plugin-jsdoc to v31.2.3
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update dependency eslint-plugin-jsdoc to v31.3.2
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update dependency eslint-plugin-jsdoc to v31.3.3
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update eslint packages to v4.14.1
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update dependency eslint-plugin-prefer-arrow to v1.2.3
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update dependency urllib3 to v1.26.3
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency eslint-plugin-jsdoc to v31.4.0
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update alpine/helm Docker tag to v3.5.1
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[renovate-bot] Update dependency alembic to v1.5.3
  Backend/requirements.txt
Due: none

[renovate-bot] Update dependency eslint-plugin-jsdoc to v31.5.0
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update dependency numpy to v1.20.0
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency eslint-plugin-jsdoc to v31.6.0
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update getsentry/sentry-cli Docker tag to v1.62.0
  .gitlab-ci.yml
Due: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

[renovate-bot] Update eslint packages to v4.14.2
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update dependency SQLAlchemy to v1.3.23
  Backend/requirements.txt
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[hotfix] fix caching in backend
  Backend/views/cases.py
  Backend/views/cases_risklayer.py
  Backend/views/extent.py
  Backend/views/hospitals.py
Due: none

Path conditions:
  dockerize-crawler: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  dockerize-tiles: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-crawler-staging: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-crawler-production-new: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-tiles-staging-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-tiles-production-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
