Repository dbvis-ukon/coronavis: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerize-crawler, dockerize-tiles, deploy-crawler-staging, deploy-crawler-production-new, deploy-tiles-staging-new, deploy-tiles-production-new

dockerize-crawler:
  stage: build:docker
  image: docker:latest
  services:
  - docker:dind
  script:
  - source var.env
  - echo "$CI_REGISTRY_PASSWORD" | docker login --username "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - cd ${FOLDER}
  - IMGNAME=$(echo "${FOLDER}" | tr '[:upper:]' '[:lower:]')
  ...

dockerize-tiles:
  stage: build:docker
  image: docker:latest
  services:
  - docker:dind
  script:
  - source var.env
  - echo "$CI_REGISTRY_PASSWORD" | docker login --username "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - cd ${FOLDER}
  - IMGNAME=$(echo "${FOLDER}" | tr '[:upper:]' '[:lower:]')
  ...

deploy-crawler-staging:
  stage: deploy
  image:
    name: alpine/helm:3.1.2
    entrypoint:
    - sh
    - -c
    - apk add bash sed && /bin/bash
  script:
  - echo $KUBECONFIG
  - source var.env
  - cat var.env
  - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
  - echo $URL_ACCESSOR
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  ...

deploy-crawler-production-new:
  stage: deploy
  image:
    name: alpine/helm:3.1.2
    entrypoint:
    - sh
    - -c
    - apk add bash sed && /bin/bash
  script:
  - echo $KUBECONFIG
  - source var.env
  - cat var.env
  - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
  - echo $URL_ACCESSOR
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  ...

deploy-tiles-staging-new:
  stage: deploy
  image:
    name: alpine/helm:3.1.2
    entrypoint:
    - sh
    - -c
    - apk add bash sed && /bin/bash
  script:
  - echo $KUBECONFIG
  - source var.env
  - cat var.env
  - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
  - echo $URL_ACCESSOR
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  ...

deploy-tiles-production-new:
  stage: deploy
  image:
    name: alpine/helm:3.1.2
    entrypoint:
    - sh
    - -c
    - apk add bash sed && /bin/bash
  script:
  - echo $KUBECONFIG
  - source var.env
  - cat var.env
  - URL_ACCESSOR="URL_$(echo ${APP} | tr [:lower:] [:upper:])"
  - echo $URL_ACCESSOR
  - URL=${!URL_ACCESSOR}
  - echo ${URL}
  ...

[] devops: upgrade ingress api versions
  k8/backend-new/templates/Ingress.yaml
  k8/frontend-new/templates/Ingress.yaml
  k8/tiles-new/templates/Ingress.yaml
Due: dockerize-tiles, deploy-tiles-staging-new, deploy-tiles-production-new

[] fix ingresses
  k8/backend-new/templates/Ingress.yaml
  k8/frontend-new/templates/Ingress.yaml
  k8/tiles-new/templates/Ingress.yaml
Due: dockerize-tiles, deploy-tiles-staging-new, deploy-tiles-production-new

[renovate-bot] Update dependency sentry-sdk to v0.20.1
  Backend/requirements.txt
Due: none

[renovate-bot] Update dependency sentry_sdk to v0.20.1
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency cryptography to v3.4.5
  Backend/requirements.txt
Due: none

[renovate-bot] Lock file maintenance
  Frontend/gis/package-lock.json
Due: none

[renovate-bot] Update dependency eslint-plugin-jsdoc to v32
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update dependency sentry_sdk to v0.20.2
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency sentry-sdk to v0.20.2
  Backend/requirements.txt
Due: none

[renovate-bot] Update eslint packages to v4.15.1
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update dependency eslint-plugin-jsdoc to v32.0.1
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update dependency cryptography to v3.4.6
  Backend/requirements.txt
Due: none

[renovate-bot] Update dependency eslint-plugin-jsdoc to v32.0.2
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update dependency Flask-Compress to v1.9.0
  Backend/requirements.txt
Due: none

[renovate-bot] Update dependency sentry_sdk to v0.20.3
  Crawler/requirements.txt
Due: dockerize-crawler, deploy-crawler-staging, deploy-crawler-production-new

[renovate-bot] Update dependency sentry-sdk to v0.20.3
  Backend/requirements.txt
Due: none

[renovate-bot] Update dependency alembic to v1.5.5
  Backend/requirements.txt
Due: none

[renovate-bot] Update dependency eslint-plugin-jsdoc to v32.0.3
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update dependency eslint-plugin-jsdoc to v32.1.0
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update eslint packages to v4.15.2
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update dependency eslint-plugin-jsdoc to v32.1.1
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

[renovate-bot] Update dependency eslint-plugin-jsdoc to v32.2.0
  Frontend/gis/package-lock.json
  Frontend/gis/package.json
Due: none

Path conditions:
  dockerize-crawler: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  dockerize-tiles: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-crawler-staging: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-crawler-production-new: any of: Crawler/**/*, k8/Crawler/**/*, k8/crawler-new/**/*, .gitlab-ci.yml
  deploy-tiles-staging-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
  deploy-tiles-production-new: any of: Tiles/**/*, k8/Tiles/**/*, k8/tiles-new/**/*, .gitlab-ci.yml
